/*
 * default | flatCore Theme
 * Copyright 2021 flatCore CMS
 */

// Theme Core
@import 'variables';

// Bootstrap Core
@import '../../node_modules/bootstrap/scss/bootstrap';

// Bootstrap Icons
@import '../../css/fonts/bootstrap-icons/font/bootstrap-icons';

@import '../../node_modules/featherlight/src/featherlight';
@import '../../node_modules/featherlight/src/featherlight.gallery';

#pageHeader {
	background: $gray-900;
	p.h1, p.h2 {
		color: #fff;
		font-weight: 200;
	}
	
	.social-media {
		a {
			color: #fff;
			&:hover {
				color: #eee;
			}
		}
		float: right;
		margin-top: -1rem;
		padding: 3px 5px;
		background: $gray-800;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	
}

#pageFooter {
	padding-bottom: 100px;
	background: $gray-800;
	color: #eee;
}

footer div.tags a {
	display: block;
	float: left;
	padding: 2px 5px;
	margin: 1px;
	border-radius: 3px;
	background-color: $gray-900;
	border: 1px solid $gray-900;
	
	&:hover {
		border-color: $black;
		text-decoration: none;
	}
}


.privacy_policy {
	position: fixed;
	bottom: 0;
	z-index: 9001;
	width: 100%;
	background: rgba(255,255,255,0.85);
	padding: 15px;
	border-top: 1px solid #ddd;
}

.scrollBox {
	max-height: 250px;
	overflow: auto;
	background: rgba(0,0,0,0.10);
	padding: 15px;
}



/* posts */

a.post-headline-link:hover {
	text-decoration: none;
}

.post-footer {
	padding-top: 15px;
}


.event-date {
	background: rgba(0,0,0,0.1);
	padding: 2px;
	text-align: center;
}

.event-date-header {
	background: rgba(0,0,0,0.2);
	padding: 3px;
	margin: -2px -2px 0 -2px;
	font-size: 14px;
}

.event-start-year {
	display: block;
	font-size: 35px;
	line-height: 35px;
	opacity: .5;
}

.event-end-date {
	font-size: 12px;
	line-height: 14px;
	opacity: .3;
}

.price-tag {
	width: 175px;
	float: right;
	background: rgba(255,255,255,0.8);
	padding: 5px;

	text-align: center;
	border-top-right-radius: 0.25em;
	border-bottom-left-radius: 0.5em;
}

.price-predecimal {
	font-size: 22px;
}

.price-decimal {
	vertical-align:super;
	font-size: 12px;
	text-decoration: underline;
}

.product-unit,
.product-amount {
	font-size: 11px;
	opacity: .5;
}

.product-amount::before {
    content: " / ";
    font-size: 11px;
    opacity: .5;
}

.price-tag-label:not(:empty) {
	font-size: 11px;
	opacity: .5;
	background: rgba(0,0,0,0.1);
	float: left;
	padding: 3px;
	margin-top: -5px;
	margin-left: -5px;
}



.post-list-message,
.post-list-event,
.post-list-link,
.post-list-video,
.post-list-image,
.post-list-gallery,
.post-list-product,
.post-list-file {
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}

.post-thumbnail {
	background: rgba(0,0,0,0.1);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5px;
	margin: 5px;
	float: left;
	width: 155px;
	height: 155px;
	border-radius: 5px;
}

.post-thumbnail:hover {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.post-author,
.post-releasedate {
	font-size: smaller;
}

/* comments */

.form-container {
	padding: 15px;
	background: #eee;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
	margin-bottom: 15px;
}

#page_comments {
	margin-top: 15px;
}

.comment-level {
	padding: 10px;
	border: 1px solid #eee;
	margin: 10px 0;
}

.comment-level-0 {
	padding-left: 10px;
}

.comment-level-1 {
	padding-left: 20px;
}

.comment-level-2 {
	padding-left: 25px;
}

.comment-entry {
	border: none;
	border-bottom: 1px solid #eee;
	background: #f5f5f5;
	margin: 5px 0;
	border-radius: 0;
	padding: 5px;

	.entry-nbr {
		font-size: 18px;
		font-weight: bold;
		display: inline-block;
		width: auto;
		float: right;
		background: #eee;
		color: #fff;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid #ddd;
		margin: -15px -15px 0 0;
	}
}

.comment-entry:nth-of-type(odd) {
	background: #eee;
	.entry-nbr {
		background: #f2f2f2;
		color: #ddd;		
	}
}
