html, body {
	background-color: #252525;
	color: #666;
	height: 100%;
	width: 100%;
}


div#inst-frame {
	width: 700px;
	margin: 15px auto 0 auto;
	padding: 15px;
	border: none;
	background: transparent;
	
}

div#inst-background {
	background: rgba(255,255,255,0.9);
	padding: 15px;
	border-radius: 9px;
	box-shadow: 0px 0px 10px 2px #000;
}

div#inst-header {
	padding: 10px;
	margin: 0 0 5px 0;
	height: 80px;
	text-align: center;
	border-bottom: 1px solid #fff;
}

div#inst-footer {
	text-align: center;
	padding: 15px;
	border-top: 1px solid #fff;
}

div.alert {
	margin-top: 2px;
	margin-bottom: 2px;
}

div#inst-footer h3 {
	margin: 0;
	line-height: 18px;
}
div#inst-footer a {
	color: #666;
	text-decoration: none;
}