.card {
	background: @widget_background;
	color: @font_color;
	
	.card-header {
		background: darken(@widget_background,4);
	}

	.card-header-tabs {
		border-bottom: 1px solid darken(@widget_background,20);
		li {
			.nav-link {
				color: @brand_color;
				&:hover {
					border-color: darken(@widget_background,10);
					border-bottom-color: darken(@widget_background,10);
					background: darken(@widget_background,10);
				}
			}
			.active,
			.active:hover {
				background: darken(@widget_background,20);
				border-color: darken(@widget_background,20);
				color: @font_color;
			}
		}
	}

}

@media (min-width: 992px) {
    .custom-columns {
        column-count: 4;
    }
}
@media (min-width: 1200px) {
    .custom-columns {
        column-count: 5;
    }
}

@media (min-width: 1500px) {
    .custom-columns {
        column-count: 7;
    }
}