/* dark theme */
html,
body {
  color: #ddd;
  font-weight: 400;
  background: #151515;
}
div#bigHeader {
  background: #151515;
}
.subHeader {
  background: rgba(0, 0, 0, 0.9);
}
a.topnav_selected span.mm {
  border-bottom: 4px solid #111;
}
.sidebar-nav-active span.tri-left,
.sidebar-nav-active:hover span.tri-left,
.dashboard-toggle.active span.tri-left,
.dashboard-toggle.active:hover span.tri-left {
  border-right: 7px solid #111;
}
div#page-content {
  background: #111;
}
#footer:after {
  box-shadow: 0px 20px 10px #111;
}
/* typo */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5a89b2;
}
a {
  color: #86a1b9;
}
a:hover,
a:focus,
a.focus {
  color: #7eb0db;
}
a.darklink,
a.darklink:link,
a.darklink:visited {
  color: #506f89;
}
hr {
  border-bottom: 1px solid #000;
}
/* panels */
.panel-default {
  background: #222;
  border-color: #111;
}
.panel-default .panel-heading {
  background: #191919;
  color: #eee;
  border-color: #111;
}
.panel-default .panel-heading .badge {
  background: #eee;
  color: #111;
}
/* tabs */
ul.nav-tabs {
  border-bottom: 1px solid #111;
}
ul.nav-tabs > li > a {
  background-color: #333;
}
ul.nav-tabs > li > a:hover,
ul.nav-tabs > li > a:focus,
ul.nav-tabs > li > a.focus {
  background-color: #252525;
  border: 1px solid #252525;
}
ul.nav-tabs > li.active > a,
ul.nav-tabs > li.active > a:hover {
  background-color: #222;
  border: 1px solid #222;
  color: #aaa;
}
.tab-content {
  background-color: #222;
}
/* invert default button */
.btn-default {
  background: #444;
  color: #fff;
  border-color: #333;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus {
  color: #eee;
  background: #333;
  border-color: #222;
}
.btn-default:active,
.btn-default.active {
  background: #262d34 !important;
  border-color: #000;
  color: #fff;
}
.btn-default:active:hover,
.btn-default.active:hover {
  color: #eee;
  border-color: #222;
}
.well {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* table */
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 1px solid #111;
}
.table-hover > tbody > tr:hover {
  background-color: #222;
}
.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #111;
}
.table-list tr:hover {
  background-color: #111;
}
.files-list {
  border-top: 1px solid #000;
}
.files-list:nth-child(even) {
  background-color: #000;
}
.scroll-container {
  background: rgba(0, 0, 0, 0.2);
}
/* logfiles */
.dl-logfile {
  border-bottom: 1px solid #111;
  background: rgba(0, 0, 0, 0.5);
}
.dl-logfile:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}
div#pagina {
  border: 1px solid #111;
}
/* forms */
textarea.form-control,
input.form-control,
input.form-control[readonly],
select.form-control,
.bootstrap-tagsinput {
  background: #333;
  color: #eee;
  border-color: #111;
}
input.form-control[readonly] {
  color: #aaa;
}
.input-group-addon {
  background: #111;
  color: #aaa;
  border: 1px solid #111;
}
#CSSeditor,
#HTMLeditor,
.form-control {
  border: 1px solid #222 !important;
}
.mce-panel {
  border: 1px solid #333 !important;
}
.mce-menubar {
  border: none !important;
}
.mce-branding-powered-by {
  border: none !important;
}
.btn-public,
.btn-public.active {
  border-bottom: 1px solid #47a447;
}
.btn-public:hover,
.btn-public.active:hover {
  border-bottom: 1px solid #47a447;
}
.btn-private,
.btn-private.active {
  border-bottom: 1px solid #c9302c;
}
.btn-private:hover,
.btn-private.active:hover {
  border-bottom: 1px solid #c9302c;
}
.btn-draft,
.btn-draft.active {
  border-bottom: 1px solid #666;
}
.btn-draft:hover,
.btn-draft.active:hover {
  border-bottom: 1px solid #666;
}
.btn-ghost,
.btn-ghost.active {
  border-bottom: 1px solid #a1d2a1;
}
.btn-ghost:hover,
.btn-ghost.active:hover {
  border-bottom: 1px solid #a1d2a1;
}
/* list group */
.list-group-item,
a.list-group-item {
  background-color: #111;
  border: 1px solid #222;
  color: #eee;
}
.list-group-item:hover,
a.list-group-item:hover {
  background-color: #050505;
}
.list-group-item .active,
a.list-group-item .active {
  background: #428bca;
}
/* fieldset */
fieldset {
  background: #222;
  /*
	.background-image(linear-gradient(to bottom, rgba(0,0,0,0.4); 0%,rgba(0,0,0,0); 100%));
	*/
}
fieldset legend {
  margin-top: -30px;
  background: #222;
  border-bottom: 1px solid #222;
  color: #bbb;
}
.formfooter {
  border: 1px solid #111;
}
/* page listing */
.pages-list-container {
  background-color: #222;
  background-image: linear-gradient(90deg, #000 1px, transparent 1px);
}
.page-list-item {
  background: #151515;
}
.controls-container {
  background: rgba(0, 0, 0, 0.25);
}
.page-list-item h4 a {
  color: #428bca;
}
.page-list-item h4 small {
  color: #aaa;
}
/* charts */
.chart-hor {
  overflow: hidden;
}
.chart-hor li {
  background: rgba(255, 255, 255, 0.05);
}
.chart_label {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 3px #000;
}
.doughnut-legend li:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
/* modules */
.modules-list-item {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.modules-list-item:hover {
  background: rgba(0, 0, 0, 0.4);
}
.modlist-label span {
  background: #151515;
  box-shadow: 0 4px 10px -6px #000;
}
.masonry-item {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.masonry-item:hover {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px -10px #428bca;
}
/* fancybox and modal */
.fancybox-skin,
.modal-content {
  background: #222;
  color: #eee;
}
.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px #428bca;
}
.modal-header {
  background: #252525;
  border-bottom: 1px solid #151515;
}
.modal-header .close {
  color: #eee;
}
.modal-footer {
  background: #151515;
  border-top: 1px solid #151515;
}
/* shadow */
hr.shadow:after {
  content: "";
  margin: 0 auto;
  position: relative;
  top: -35px;
  display: block;
  width: 90%;
  height: 20px;
  box-shadow: 0px 20px 10px #000;
}
