/**
 * flatCore ACP
 */
/* pages - status colors */
/* user - status colors */
::selection {
  background-color: #222;
  color: #ccc;
}
a,
a:hover {
  text-decoration: none;
}
html,
body {
  text-align: left;
  color: #252525;
  font-weight: 400;
  background: #222;
  height: 100%;
  min-height: 100%;
}
/* Layout */
div#page-sidebar {
  width: 210px;
  padding-top: 90px;
  float: left;
  color: #eee;
  background: transparent url(../images/fc-logo.png) no-repeat top left;
  height: 100%;
}
a#dashboard {
  display: block;
  position: absolute;
  top: 0;
  height: 85px;
  width: 210px;
}
div#page-content {
  margin-left: 210px;
  background: #eee;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden !important;
}
div#bigHeader {
  height: 40px;
  background: #333;
  overflow: hidden;
}
.subHeader {
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}
#expireDiv {
  text-align: center;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.expire-hidden {
  height: 0;
  overflow: hidden;
}
.expire-start {
  padding: 3px;
}
.expire-soon {
  background: rgba(255, 0, 0, 0.45);
}
.expire-danger {
  background: #ff0000;
  color: #fff;
}
#currentSeconds {
  font-weight: bold;
}
.bottom-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  z-index: 600;
  background: rgba(0, 0, 0, 0.2);
  border-top-left-radius: 5px;
}
#liveBox {
  width: 200px;
  margin-top: 15px;
  padding: 5px 5px 5px 15px;
}
#liveBox a {
  color: #666;
  display: block;
  padding: 3px;
}
#liveBox a:hover {
  color: #428bca;
}
#liveBox hr {
  border-bottom: 1px solid #111;
  margin: 3px;
}
div#wrapper {
  float: right;
  width: 100%;
  margin-left: -220px;
}
#contentbox {
  margin-left: 220px;
  margin-bottom: 10px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 9px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 9px;
  -moz-background-clip: padding;
  border-radius: 9px;
  background-clip: padding-box;
  min-height: 500px;
}
.sidebar-well {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  margin: 10px 0;
}
.sidebar-nav,
.sidebar-nav-active,
.sidebar-nav-disabled {
  display: block;
  padding: 8px 5px;
  border-bottom: 1px solid #111;
  color: #aaa;
  background: #191919;
}
.sidebar-nav:hover {
  color: #bbb;
  background: #111;
}
.sidebar-nav-disabled,
.sidebar-nav-disabled:hover {
  color: #555;
  background: #191919;
  cursor: not-allowed;
}
.sidebar-nav-active,
.sidebar-nav-active:hover,
.dashboard-toggle.active,
.dashboard-toggle.active:hover {
  background: #000;
  color: #428bca;
}
.sidebar-nav-active span.tri-left,
.sidebar-nav-active:hover span.tri-left,
.dashboard-toggle.active span.tri-left,
.dashboard-toggle.active:hover span.tri-left {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-right: -6px;
  border-top: 10px solid transparent;
  border-right: 7px solid #eee;
  border-bottom: 10px solid transparent;
}
div#container {
  margin: 0;
  padding: 10px 15px;
}
div#container h3:first-of-type {
  line-height: 22px;
  font-size: 18px;
  color: #666;
  margin-top: 0;
}
hr.shadow {
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  height: 20px;
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
}
hr.shadow:after {
  content: "";
  margin: 0 auto;
  position: relative;
  top: -35px;
  display: block;
  width: 90%;
  height: 20px;
  box-shadow: 0px 20px 10px #aaa;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* Footer */
div#footer {
  clear: both;
  margin: 25px 15px;
  padding: 15px 0 5px 0;
  text-align: center;
  color: #555;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  -moz-border-radius: 9px;
  overflow: hidden;
}
div#footer a {
  color: #444;
}
#footer:after {
  content: "";
  margin: 0 auto;
  position: relative;
  display: block;
  top: -5px;
  width: 90%;
  height: 15px;
  box-shadow: 0px 20px 10px #bbb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* TYPO */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #369;
}
.silent {
  font-size: 11px;
  color: #888;
}
.loud {
  font-size: 16px;
}
.center,
.textcenter,
td.textcenter {
  text-align: center;
}
a.darklink,
a.darklink:link,
a.darklink:visited {
  color: #333;
}
hr {
  border: 0;
  height: 1px;
  margin: 1em 0;
  border-bottom: 1px solid #ddd;
}
hr.spacer {
  margin: 5px 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
ol {
  margin-left: 25px;
}
.dl-horizontal.dl-dates dt {
  width: 70px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  color: #888;
}
.dl-horizontal.dl-dates dd {
  margin-left: 75px;
}
/* Navigation */
div#topNavBox {
  float: right;
  padding-right: 20px;
}
a.topnav,
a.topnav_selected,
a.topnav:visited,
a.topnav_selected:visited {
  position: relative;
  display: block;
  float: left;
  min-width: 100px;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
  font-weight: normal;
  background: #111;
  color: #428bca;
  height: 40px;
  -webkit-transition: background 0.3s linear, color 0.3s linear;
  -moz-transition: background 0.3s linear, color 0.3s linear;
  -o-transition: background 0.3s linear, color 0.3s linear;
  transition: background 0.3s linear, color 0.3s linear;
  margin-right: 1px;
}
a.topnav:hover {
  background: #222;
  color: #7eb0db;
}
a.topnav:active,
a.topnav:focus {
  outline: none;
  color: #eee;
}
a.topnav_selected,
a.topnav_selected:visited {
  background-color: #428bca;
  color: #fff;
}
a.topnav_selected span.mm {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 4px solid #eee;
  margin-left: -6px;
}
div#contentSwitch {
  background: #ccc;
  padding: 2px 60px 2px 10px;
  font-size: 12px;
  color: #777;
  text-align: right;
}
div#contentSwitchContainer > div {
  float: right;
  padding: 5px;
  min-width: 250px;
}
/* Navigation Submenu */
#dashboard-collapse .panel {
  border-radius: 0;
  border: none;
  margin: 0;
}
.panel-sidemenu .panel-heading {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
}
.panel-collapse > .submenu {
  padding: 2px 2px 2px 15px !important;
  color: #222;
}
a.sidebar-sub,
a.sidebar-sub-active {
  display: block;
  padding: 3px 2px 3px 15px;
  color: #aaa;
  background: #252525;
  border-bottom: 1px solid #111;
}
a.sidebar-sub:hover {
  background: rgba(54, 116, 171, 0.8);
  color: #111;
}
a.sidebar-sub-active {
  color: #111;
  background: #428bca;
}
#contentbox ul {
  margin-left: 15px;
}
.clear {
  clear: both;
}
.modal-open .modal,
.btn:focus,
a:focus {
  outline: none;
  text-decoration: none;
}
/* PAGINATION */
div#pagina {
  margin: 4px 0;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid #444;
  -webkit-border-radius: 5px;
}
div#pagina p {
  text-align: center;
  padding: 2px;
  margin: 4px 2px;
}
div.header-bc {
  padding: 0;
  margin: 1px 0 10px 0;
}
div.header-bc span {
  padding: 2px 4px;
  margin: 0;
  background: #fff url(../images/gradiant.png) repeat-x left center;
  border: 1px solid #999;
  border-right: 0;
  color: #888;
}
div.header-bc span:last-child {
  padding-right: 10px;
  border-right: 1px solid #999;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
div.header-bc span:first-child {
  padding-left: 10px;
  border-top-left-radius: 5px;
}
/* listings */
div#listItems {
  padding: 2px;
  border-bottom: 1px solid #fff;
}
div#listItems:hover {
  background: #fff;
}
span#w100,
span#w150,
span#w200 {
  display: block;
  float: left;
  padding: 2px 4px;
  border-right: 1px solid #fff;
}
span#w100 {
  width: 100px;
}
span#w150 {
  width: 150px;
}
span#w200 {
  width: 200px;
}
.clear,
#clear {
  clear: both;
}
.table-list {
  background: transparent;
  width: 100%;
}
.table-list td {
  border-bottom: 1px solid #b5b5b5;
  padding: 1px 6px 0 4px;
  color: #333;
}
.table-list td.bold {
  font-weight: bold;
}
.table-list td.head {
  padding: 6px 6px 6px 4px;
  color: #eee;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  font-weight: bold;
}
.table-list tr:hover {
  background-color: #eee;
}
.extrainfo {
  font-size: 12px;
  line-height: 14px;
  color: #888;
  margin-bottom: 3px;
}
.pages-list-container {
  padding: 0 15px 0 0;
  background-color: #fff;
  background-image: linear-gradient(90deg, #e5e5e5 1px, transparent 1px);
  background-size: 10px;
  background-position: 0;
}
.page-list-item {
  position: relative;
  margin-bottom: 10px;
  padding: 5px 5px 0 5px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 555;
}
.page-list-item h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
}
.page-list-item h4 a {
  color: #428bca;
}
.page-list-item h4 small {
  color: #333;
}
.page-list-item:hover {
  -webkit-box-shadow: inset 0px 7px 12px -7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 7px 12px -7px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 7px 12px -7px rgba(0, 0, 0, 0.3);
}
.page-list-item-public {
  border-top: 1px solid #5cb85c;
  background: #f5fbf5;
}
.page-list-item-private {
  background: #fefbfb;
  border-top: 1px solid #d9534f;
}
.page-list-item-ghost {
  background: rgba(92, 184, 92, 0.15);
  border-top: 1px solid rgba(92, 184, 92, 0.3);
}
.page-list-item-draft {
  background: #f1f1f1;
  border-top: 1px solid #bebebe;
}
.page-list-item-redirect {
  border-top: 1px solid #3c88c9;
}
.label-white {
  background: #fff;
  color: #999;
}
.label-dot {
  position: relative;
  top: 1px;
  display: inline-block;
  margin: 0 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.btn-label-dot {
  background: transparent;
  border: none;
  padding: 5px;
  margin: 0 5px 0 0;
}
.btn-label-dot.active span.label-dot {
  border: 1px solid rgba(10, 10, 10, 0.7);
  -webkit-box-shadow: inset 0 1px 3px rgba(10, 10, 10, 0.7);
  -moz-box-shadow: inset 0 1px 3px rgba(10, 10, 10, 0.7);
  box-shadow: inset 0 1px 3px rgba(10, 10, 10, 0.7);
}
.page-list-item-draft h5 {
  color: #888;
}
.label-page-status {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #000 transparent transparent;
}
.page-list-item-public .label-page-status {
  border-color: transparent #5cb85c transparent transparent;
}
.page-list-item-private .label-page-status {
  border-color: transparent #d9534f transparent transparent;
}
.page-list-item-ghost .label-page-status {
  border-color: transparent rgba(92, 184, 92, 0.25) transparent transparent;
}
.page-list-item-draft .label-page-status {
  border-color: transparent #989898 transparent transparent;
}
.info-collapse.info-show,
.info-collapse.info-show-this {
  max-height: 100px;
  transition: max-height 0.3s ease-in;
  -webkit-transition: max-height 0.3s ease-in;
}
.info-collapse.info-show.info-hide,
.info-collapse.info-show.info-hide-this {
  max-height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  -webkit-transition: max-height 0.1s ease-out;
}
.bg-bright {
  background-color: #eee;
}
.bg-dark {
  background-color: #ccc;
}
.page-list-item .ghost-btn {
  font-size: 14px;
}
.controls-container {
  padding: 5px;
  background: rgba(255, 255, 255, 0.6);
}
.ghost-btn {
  color: #333;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 2px 5px;
  margin: auto 2px;
}
.ghost-btn:hover {
  background: #fff;
  border: 1px solid #eee;
}
.ghost-btn-public:hover {
  color: #5cb85c;
  border-color: #5cb85c;
}
.ghost-btn-private:hover {
  color: #d9534f;
  border-color: #d9534f;
}
.ghost-btn-draft:hover {
  color: #999;
  border-color: #999;
}
.ghost-btn-ghost:hover {
  color: #999;
  border-color: #999;
}
.btn-fc {
  background: #428bca;
  color: #fff;
}
.btn-fc:hover,
.btn-fc:focus,
.btn-fc.focus {
  color: #fff;
  background: #3071a9;
}
.btn-fc:active,
.btn-fc.active {
  background: #245682;
  text-shadow: 0px 0px 2px #2a6496, 0px 0px 4px #5697d0, 0px 0px 6px #5697d0, 0px 0px 12px #468dcb;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-fc:active:hover,
.btn-fc.active:hover {
  color: #eee;
}
.masked-textarea,
.masked-textarea:hover,
.masked-textarea:focus {
  width: 100%;
  background: transparent;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.masked-textarea:hover,
.masked-textarea:focus {
  background: rgba(255, 255, 255, 0.5);
}
.scroll-container {
  height: 350px;
  overflow: auto;
  padding: 5px;
  background-color: #e5e5e5;
  border-radius: 5px;
}
.scroll-box {
  width: 100%;
  min-height: 150px;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  .app-container {
    height: auto !important;
  }
}
.dl-logfile {
  margin: 0;
  padding: 2px 0;
  border-bottom: 1px solid #aaa;
  background-color: #fff;
}
.dl-logfile:nth-child(even) {
  background-color: #f5f5f5;
}
.dl-logfile dt {
  font-weight: normal;
  opacity: 0.6;
}
.priority-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 3px;
  margin-right: 10px;
  border-radius: 50%;
}
.log_priority0 {
  background: #FFFEFF;
}
.log_priority1 {
  background: #F9F6FF;
}
.log_priority2 {
  background: #EEEEFF;
}
.log_priority3 {
  background: #E3E6F9;
}
.log_priority4 {
  background: #D8DEF3;
}
.log_priority5 {
  background: #CDD6ED;
}
.log_priority6 {
  background: #C2CEE7;
}
.log_priority7 {
  background: #B7C6E1;
}
.log_priority8 {
  background: #ACBEDB;
}
.log_priority9 {
  background: #A1B6D5;
}
.log_priority10 {
  background: #96AECF;
}
.log_priority11 {
  background: #C35B5B;
}
/* for errors only */
.control-label-normal {
  font-weight: normal;
}
/* AJAX TABS */
ul.nav-tabs > li > a {
  background-color: #e5e5e5;
}
ul.nav-tabs > li.active > a,
ul.nav-tabs > li.active > a:hover {
  background-color: #eee;
}
.tab-content {
  background-color: #eee;
  padding: 20px 10px;
}
#sortable-list {
  list-style-type: none;
}
#sortable-list li {
  cursor: move;
}
.floating-box {
  float: left;
  width: 300px;
  margin: 2px;
  padding: 4px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #eee;
  border: 1px solid #e5e5e5;
}
.floating-box h4 {
  background-color: #f9f9f9;
  padding: 2px 3px 3px 5px;
  font-size: 13px;
  margin: -4px -4px 3px -4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  white-space: nowrap;
  color: #222;
}
div.previewbox {
  display: block;
  float: left;
  width: 120px;
  height: 80px;
  margin: 2px 8px 2px 0;
  border: 2px solid #fff;
  background-color: #f5f5f5;
  overflow: hidden;
}
div.previewbox img {
  max-width: 100%;
}
/* forms */
fieldset {
  padding: 30px 10px 10px 10px;
  margin: 5px 0 15px 0;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  position: relative;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSJyZ2IoMjU1LCAyNTUsIDI1NSkiIHN0b3Atb3BhY2l0eT0iMC4wNSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0.05) 90%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0.05) 90%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255, 255, 255, 0.05) 90%);
  background-image: linear-gradient(to bottom, #fff 0%, rgba(255, 255, 255, 0.05) 90%);
}
fieldset legend {
  position: absolute;
  left: 5px;
  top: 20px;
  width: auto;
  padding: 4px 10px;
  margin: -20px 10px 0 10px;
  background: rgba(0, 0, 0, 0.1);
  color: #5a89b2;
  font-size: 13px;
  line-height: 13px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.btn-public,
.btn-public.active {
  border-bottom: 1px solid #47a447;
}
.btn-private,
.btn-private.active {
  border-bottom: 1px solid #c9302c;
}
.btn-draft,
.btn-draft.active {
  border-bottom: 1px solid #666;
}
.btn-ghost,
.btn-ghost.active {
  border-bottom: 1px solid #a1d2a1;
}
.btn-redirect,
.btn-redirect.active {
  border-bottom: 1px solid #36a;
}
.btn {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
textarea#textEditor,
textarea#textEditor2,
.switchEditor {
  width: 100%;
  height: 550px;
}
#masonry-container {
  margin: 0 auto;
}
.masonry-item {
  width: 200px;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.masonry-item:hover {
  -webkit-box-shadow: 0 0 10px rgba(20, 20, 20, 0.5);
  -moz-box-shadow: 0 0 10px rgba(20, 20, 20, 0.5);
  box-shadow: 0 0 10px rgba(20, 20, 20, 0.5);
}
.masonry-item-inner {
  padding: 5px;
}
.masonry-item-inner img {
  margin: 0 auto;
  max-width: 100%;
}
.masonry-item-inner h5 {
  margin: 0;
}
.masonry-item-inner p {
  font-size: 13px;
  line-height: 1.35em;
  margin: 10px 0 0 0;
  padding: 5px;
}
.files-list {
  border-top: 1px solid #ccc;
  padding: 1px 0;
}
.files-list:nth-child(even) {
  background-color: #f5f5f5;
}
.form-line {
  margin-bottom: 9px;
}
legend + .form-line,
.form-line-first {
  margin-top: 9px;
  -webkit-margin-top-collapse: separate;
}
.form-line {
  padding-bottom: 9px;
  *zoom: 1;
  border-bottom: 1px solid #ccc;
}
form-line:before,
.form-line:after {
  display: table;
  content: "";
}
.form-line:after {
  clear: both;
}
div.form-line > label,
.form-label {
  float: left;
  width: 250px;
  padding-top: 5px;
  text-align: right;
}
.form-controls {
  margin-left: 265px;
  *display: inline-block;
  *margin-left: 0;
  *padding-left: 20px;
}
.form-line-last,
fieldset > [class*="form-line"]:last-child {
  border-bottom: none;
}
.formfooter {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #aaa;
  padding: 5px;
  margin-top: 18px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.formfooter input,
.formfooter button {
  margin-bottom: 0;
}
.plain-editor {
  background: rgba(255, 255, 255, 0.5);
  font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}
#CSSeditor,
#HTMLeditor,
#aceCodeEditor {
  display: block;
  margin: 5px auto;
  width: 100%;
  height: 350px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
code {
  color: #428bca;
  background: rgba(78, 134, 245, 0.1);
}
.modules-list-item {
  padding: 15px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.modules-list-item:hover {
  background: rgba(255, 255, 255, 0.2);
}
.modules-list-item:before,
.modules-list-item:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 20px;
  right: 20px;
  border-radius: 10px;
}
/* List items - News, Guestbook ... */
.modlist-label span {
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  color: #888;
  background-color: #eee;
  padding: 3px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px -6px #888;
}
.modlist-icon {
  max-width: 100px;
  max-height: 100px;
  box-shadow: 0 5px 10px -6px #666;
}
.modul_list_items {
  padding: 4px;
  border: 1px solid #999;
  margin: 8px 0;
  font-size: 12px;
  background-color: #f5f5f5;
}
.modul_list_items > .formfooter {
  box-shadow: 0 0 0 0 transparent;
}
.well {
  background: rgba(255, 255, 255, 0.5);
}
img.avatar {
  border: 1px solid #ccc;
  box-shadow: 0px 1px 5px #999;
}
/* charts */
.charts {
  width: 100%;
  height: 100%;
}
.chart {
  margin: 0;
}
.chart ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.chart ul li {
  margin: 0 0 4px 0;
  padding: 0;
}
.chart:first-child {
  margin: 0;
}
.chart-hor {
  overflow: hidden;
}
.chart-hor li {
  background: rgba(0, 0, 0, 0.05);
  position: relative;
  width: 100%;
  height: 40px;
}
.chart_label {
  position: absolute;
  bottom: 1px;
  left: 0;
  font-size: 11px;
  background: rgba(255, 255, 255, 0.7);
  padding: 2px 5px;
  border-top-right-radius: 7px;
  margin: 0;
}
.chart_bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  opacity: 0;
  animation: 1s drive-in ease forwards;
}
.chart_bar_verified {
  background: linear-gradient(to left, #5cb85c, #a3d7a3);
}
.chart_bar_queue {
  background: linear-gradient(to left, rgba(92, 184, 92, 0.4), rgba(163, 215, 163, 0.4));
}
.chart_bar_banned {
  background: linear-gradient(to left, #f0ad4e, #f8d9ac);
}
.chart_bar_deleted {
  background: linear-gradient(to left, #d9534f, #eba5a3);
}
.chart_bar_public {
  background: linear-gradient(to left, #5cb85c, #a3d7a3);
}
.chart_bar_ghost {
  background: linear-gradient(to left, rgba(92, 184, 92, 0.4), rgba(163, 215, 163, 0.4));
}
.chart_bar_draft {
  background: linear-gradient(to left, #989898, #cbcbcb);
}
.chart_bar_private {
  background: linear-gradient(to left, #d9534f, #eba5a3);
}
.chart .chart_bar:nth-of-type(4) {
  animation-delay: 0.8s;
}
.chart .chart_bar:nth-of-type(3) {
  animation-delay: 0.6s;
}
.chart .chart_bar:nth-of-type(2) {
  animation-delay: 0.4s;
}
.chart .chart_bar:nth-of-type(1) {
  animation-delay: 0.2s;
}
.chart_bar[data-skill='0'] {
  width: 0%;
}
.chart_bar[data-skill='1'] {
  width: 1%;
}
.chart_bar[data-skill='2'] {
  width: 2%;
}
.chart_bar[data-skill='3'] {
  width: 3%;
}
.chart_bar[data-skill='4'] {
  width: 4%;
}
.chart_bar[data-skill='5'] {
  width: 5%;
}
.chart_bar[data-skill='6'] {
  width: 6%;
}
.chart_bar[data-skill='7'] {
  width: 7%;
}
.chart_bar[data-skill='8'] {
  width: 8%;
}
.chart_bar[data-skill='9'] {
  width: 9%;
}
.chart_bar[data-skill='10'] {
  width: 10%;
}
.chart_bar[data-skill='11'] {
  width: 11%;
}
.chart_bar[data-skill='12'] {
  width: 12%;
}
.chart_bar[data-skill='13'] {
  width: 13%;
}
.chart_bar[data-skill='14'] {
  width: 14%;
}
.chart_bar[data-skill='15'] {
  width: 15%;
}
.chart_bar[data-skill='16'] {
  width: 16%;
}
.chart_bar[data-skill='17'] {
  width: 17%;
}
.chart_bar[data-skill='18'] {
  width: 18%;
}
.chart_bar[data-skill='19'] {
  width: 19%;
}
.chart_bar[data-skill='20'] {
  width: 20%;
}
.chart_bar[data-skill='21'] {
  width: 21%;
}
.chart_bar[data-skill='22'] {
  width: 22%;
}
.chart_bar[data-skill='23'] {
  width: 23%;
}
.chart_bar[data-skill='24'] {
  width: 24%;
}
.chart_bar[data-skill='25'] {
  width: 25%;
}
.chart_bar[data-skill='26'] {
  width: 26%;
}
.chart_bar[data-skill='27'] {
  width: 27%;
}
.chart_bar[data-skill='28'] {
  width: 28%;
}
.chart_bar[data-skill='29'] {
  width: 29%;
}
.chart_bar[data-skill='30'] {
  width: 30%;
}
.chart_bar[data-skill='31'] {
  width: 31%;
}
.chart_bar[data-skill='32'] {
  width: 32%;
}
.chart_bar[data-skill='33'] {
  width: 33%;
}
.chart_bar[data-skill='34'] {
  width: 34%;
}
.chart_bar[data-skill='35'] {
  width: 35%;
}
.chart_bar[data-skill='36'] {
  width: 36%;
}
.chart_bar[data-skill='37'] {
  width: 37%;
}
.chart_bar[data-skill='38'] {
  width: 38%;
}
.chart_bar[data-skill='39'] {
  width: 39%;
}
.chart_bar[data-skill='40'] {
  width: 40%;
}
.chart_bar[data-skill='41'] {
  width: 41%;
}
.chart_bar[data-skill='42'] {
  width: 42%;
}
.chart_bar[data-skill='43'] {
  width: 43%;
}
.chart_bar[data-skill='44'] {
  width: 44%;
}
.chart_bar[data-skill='45'] {
  width: 45%;
}
.chart_bar[data-skill='46'] {
  width: 46%;
}
.chart_bar[data-skill='47'] {
  width: 47%;
}
.chart_bar[data-skill='48'] {
  width: 48%;
}
.chart_bar[data-skill='49'] {
  width: 49%;
}
.chart_bar[data-skill='50'] {
  width: 50%;
}
.chart_bar[data-skill='51'] {
  width: 51%;
}
.chart_bar[data-skill='52'] {
  width: 52%;
}
.chart_bar[data-skill='53'] {
  width: 53%;
}
.chart_bar[data-skill='54'] {
  width: 54%;
}
.chart_bar[data-skill='55'] {
  width: 55%;
}
.chart_bar[data-skill='56'] {
  width: 56%;
}
.chart_bar[data-skill='57'] {
  width: 57%;
}
.chart_bar[data-skill='58'] {
  width: 58%;
}
.chart_bar[data-skill='59'] {
  width: 59%;
}
.chart_bar[data-skill='60'] {
  width: 60%;
}
.chart_bar[data-skill='61'] {
  width: 61%;
}
.chart_bar[data-skill='62'] {
  width: 62%;
}
.chart_bar[data-skill='63'] {
  width: 63%;
}
.chart_bar[data-skill='64'] {
  width: 64%;
}
.chart_bar[data-skill='65'] {
  width: 65%;
}
.chart_bar[data-skill='66'] {
  width: 66%;
}
.chart_bar[data-skill='67'] {
  width: 67%;
}
.chart_bar[data-skill='68'] {
  width: 68%;
}
.chart_bar[data-skill='69'] {
  width: 69%;
}
.chart_bar[data-skill='70'] {
  width: 70%;
}
.chart_bar[data-skill='71'] {
  width: 71%;
}
.chart_bar[data-skill='72'] {
  width: 72%;
}
.chart_bar[data-skill='73'] {
  width: 73%;
}
.chart_bar[data-skill='74'] {
  width: 74%;
}
.chart_bar[data-skill='75'] {
  width: 75%;
}
.chart_bar[data-skill='76'] {
  width: 76%;
}
.chart_bar[data-skill='77'] {
  width: 77%;
}
.chart_bar[data-skill='78'] {
  width: 78%;
}
.chart_bar[data-skill='79'] {
  width: 79%;
}
.chart_bar[data-skill='80'] {
  width: 80%;
}
.chart_bar[data-skill='81'] {
  width: 81%;
}
.chart_bar[data-skill='82'] {
  width: 82%;
}
.chart_bar[data-skill='83'] {
  width: 83%;
}
.chart_bar[data-skill='84'] {
  width: 84%;
}
.chart_bar[data-skill='85'] {
  width: 85%;
}
.chart_bar[data-skill='86'] {
  width: 86%;
}
.chart_bar[data-skill='87'] {
  width: 87%;
}
.chart_bar[data-skill='88'] {
  width: 88%;
}
.chart_bar[data-skill='89'] {
  width: 89%;
}
.chart_bar[data-skill='90'] {
  width: 90%;
}
.chart_bar[data-skill='91'] {
  width: 91%;
}
.chart_bar[data-skill='92'] {
  width: 92%;
}
.chart_bar[data-skill='93'] {
  width: 93%;
}
.chart_bar[data-skill='94'] {
  width: 94%;
}
.chart_bar[data-skill='95'] {
  width: 95%;
}
.chart_bar[data-skill='96'] {
  width: 96%;
}
.chart_bar[data-skill='97'] {
  width: 97%;
}
.chart_bar[data-skill='98'] {
  width: 98%;
}
.chart_bar[data-skill='99'] {
  width: 99%;
}
.chart_bar[data-skill='100'] {
  width: 100%;
}
@keyframes drive-in {
  0% {
    transform: translateX(-200%);
    opacity: .5;
  }
  100% {
    transform: translateX(0);
    opacity: .5;
  }
}
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
  width: 100%;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/*fancyBox */
.fancybox-slide script {
  display: none;
}
.fancybox-slide div {
  max-height: 80%;
}
/* dropzone */
.dropzone.dropzone-sm {
  min-height: 200px;
  height: 200px;
}
form.dropzone-plugin .dz-default.dz-message {
  background: transparent url(../images/filedrop-plugin.png) no-repeat center center;
}
form.dropzone-module .dz-default.dz-message {
  background: transparent url(../images/filedrop-module.png) no-repeat center center;
}
form.dropzone-theme .dz-default.dz-message {
  background: transparent url(../images/filedrop-theme.png) no-repeat center center;
}
/* image-picker */
.images-name {
  font-size: 10px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: -3px -3px 3px -3px;
  padding: 3px 1px;
}
.file-thumb {
  max-width: 100%;
  height: auto;
}
ul.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ul.image_picker_selector ul {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: block;
  width: 100%;
}
ul.image_picker_selector li p {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  padding: 2px 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
ul.image_picker_selector li {
  margin: 0px 3px 3px 0px;
  float: left;
  position: relative;
}
ul.image_picker_selector li.has-child {
  clear: both;
  display: block;
  float: none;
  width: 100%;
  margin-top: 5px;
}
ul.image_picker_selector li.group_title {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  padding: 3px 5px;
}
ul.image_picker_selector li .thumbnail {
  border: 1px solid #dddddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0;
  width: 128px;
  height: 100px;
  overflow: hidden;
}
ul.image_picker_selector li .thumbnail.selected {
  background: #0088cc;
  border: 1px solid #0088cc;
}
ul.image_picker_selector li .thumbnail.selected > p {
  background: #0088cc;
}
