/**
 * flatCore ACP
 */
/* font color */
/* background for cards, fieldsets etc. */
/* pages - status colors */
/* user - status colors */
.card {
  background: #252525;
  color: #ccc;
}
.card .card-header {
  background: #202020;
}
.card .card-header-tabs {
  border-bottom: 1px solid #111;
}
.card .card-header-tabs li .nav-link {
  color: #eee;
}
.card .card-header-tabs li .nav-link:hover {
  border-color: #14212c;
  border-bottom-color: #111;
  background: #151515;
}
.card .card-header-tabs li .active,
.card .card-header-tabs li .active:hover {
  background: #111;
  border-color: #111;
  color: #428bca;
}
.table,
.table-sm,
.table-bordered {
  color: #ccc;
}
.table thead th {
  border-bottom: 2px solid #14212c;
}
.table th,
.table td {
  border-top: 1px solid #14212c;
}
.table-bordered td {
  border-color: #000;
}
/* fieldset */
fieldset {
  padding: 30px 10px 10px 10px;
  margin: 15px 0 25px 0;
  border: 1px solid #0c0c0c;
  background: #252525;
  border-radius: 4px;
  position: relative;
}
fieldset legend {
  position: absolute;
  left: 5px;
  top: 10px;
  width: auto;
  padding: 7px 15px;
  margin: -25px 10px 0 10px;
  background: #252525;
  color: #ccc;
  font-size: 15px;
  line-height: 14px;
  border-radius: 3px;
  border-left: 1px solid #0c0c0c;
  border-right: 1px solid #0c0c0c;
}
textarea.form-control,
input.form-control,
input.form-control[readonly],
select.form-control,
.bootstrap-tagsinput {
  background: #111;
  color: #428bca;
  border-color: #14212c;
}
textarea.form-control:focus,
input.form-control:focus,
input.form-control[readonly]:focus,
select.form-control:focus,
.bootstrap-tagsinput:focus {
  background: #14212c;
  color: #428bca;
}
input.form-control[readonly] {
  color: #aaa;
}
.input-group-text {
  border-color: #14212c;
  background: #111;
  color: #ccc;
}
#CSSeditor,
#HTMLeditor,
.form-control {
  border: 1px solid #222 !important;
}
.mce-panel {
  border-color: #111;
}
.custom-select {
  background: #111 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center / 8px 10px !important;
}
#toggleNav {
  display: inline-block;
  height: 40px;
  padding-top: 7px;
}
div#page-sidebar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 55px;
  padding-top: 30px;
  color: #ccc;
  background: #000;
  height: 100%;
  border-right: 1px solid #333;
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
}
div#page-sidebar:hover {
  width: 220px;
  padding-right: 5px;
}
div#page-sidebar:hover i {
  width: auto;
}
div#page-sidebar ul.nav li {
  display: block;
  width: 100%;
}
div#page-sidebar a#sidebar-dashboard {
  display: block;
  width: 55px;
  height: 55px;
  background: transparent url(../images/fc-logo.png) top left no-repeat;
}
div#page-sidebar .sidebar-collapsed {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
}
div#page-sidebar .sidebar-collapsed i {
  width: 50px;
  text-align: center;
}
div#page-sidebar .sidebar-collapsed .sidebar-footer i {
  width: 50px;
  text-align: center;
}
div#page-sidebar .sidebar-expanded {
  display: block;
  width: 220px;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
}
div#page-sidebar .sidebar-expanded i {
  width: 35px;
  text-align: center;
}
div#page-sidebar .sidebar-expanded .sidebar-footer i {
  width: 35px;
  text-align: center;
}
div#page-sidebar .sidebar-footer {
  padding-top: 10px;
}
div#page-sidebar .sidebar-footer a {
  display: block;
  color: #ccc;
}
div#page-sidebar.sb-expanded {
  width: 220px;
}
#page-content {
  margin-left: 55px;
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
}
div#page-content.sb-expanded {
  margin-left: 220px;
}
/* Navigation Submenu */
#dashboard-collapse .panel {
  border-radius: 0;
  border: none;
  margin: 0;
}
.panel-sidemenu .panel-heading {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
}
.panel-collapse > .submenu {
  padding: 2px 2px 2px 15px !important;
  color: #222;
}
a.sidebar-sub,
a.sidebar-sub-active {
  display: block;
  width: 100%;
  color: #ccc;
  background: #252525;
  padding: 3px 2px 3px 0;
  border-bottom: 1px solid #111;
}
a.sidebar-sub:hover {
  color: #bfbfbf;
  background: #181818;
}
a.sidebar-sub-active {
  color: #ccc;
  background: #252525;
  background: linear-gradient(to right, #252525 0%, #333 100%);
}
a.sidebar-sub-active i {
  color: #428bca;
}
li.sidebar-sub-end {
  margin-bottom: 5px;
}
.sidebar-well {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  margin: 10px 0;
}
.sidebar-nav,
.sidebar-nav-active,
.sidebar-nav-disabled {
  display: block;
  padding: 3px 0;
  border-bottom: 1px solid #111;
  color: #aaa;
  background: #191919;
}
.sidebar-nav:hover {
  color: #bbb;
  background: #111;
}
.sidebar-nav-disabled,
.sidebar-nav-disabled:hover {
  color: #555;
  background: #191919;
  cursor: not-allowed;
}
.sidebar-nav-active,
.sidebar-nav-active:hover,
.dashboard-toggle.active,
.dashboard-toggle.active:hover {
  background: #333;
  color: #428bca;
}
.sidebar-nav-active span.tri-left,
.sidebar-nav-active:hover span.tri-left,
.dashboard-toggle.active span.tri-left,
.dashboard-toggle.active:hover span.tri-left {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin-right: -6px;
  border-top: 10px solid transparent;
  border-right: 7px solid #111;
  border-bottom: 10px solid transparent;
}
.btn-save {
  background: #3d8b3d;
  border: 1px solid #1e441e;
  color: #fff;
}
.btn-save:hover {
  background: #b5dfb5;
  color: #3d8b3d;
  border: 1px solid #3d8b3d;
}
::selection {
  background-color: #428bca;
  color: #ccc;
}
a,
a:hover {
  text-decoration: none;
}
html,
body {
  text-align: left;
  color: #ccc;
  font-weight: 400;
  background: #000;
  height: 100%;
  min-height: 100%;
}
/* Layout */
a#dashboard {
  display: block;
  position: absolute;
  top: 0;
  height: 85px;
  width: 210px;
}
div#page-content {
  background: #333;
  min-height: 100%;
  height: auto !important;
  overflow: hidden !important;
}
div#bigHeader {
  height: 40px;
  background: #000;
  overflow: hidden;
}
.subHeader {
  padding: 10px 15px;
  background: #2a2a2a;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}
#expireDiv {
  text-align: center;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.expire-hidden {
  height: 0;
  overflow: hidden;
}
.expire-start {
  padding: 3px;
}
.expire-soon {
  background: rgba(255, 0, 0, 0.45);
}
.expire-danger {
  background: #ff0000;
  color: #fff;
}
#currentSeconds {
  font-weight: bold;
}
.bottom-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  z-index: 600;
  background: rgba(0, 0, 0, 0.2);
  border-top-left-radius: 5px;
}
#liveBox {
  width: 200px;
  margin-top: 15px;
  padding: 5px 5px 5px 15px;
}
#liveBox a {
  color: #666;
  display: block;
  padding: 3px;
}
#liveBox a:hover {
  color: #428bca;
}
#liveBox hr {
  border-bottom: 1px solid #111;
  margin: 3px;
}
div#wrapper {
  float: right;
  width: 100%;
  margin-left: -220px;
}
#contentbox {
  margin-left: 220px;
  margin-bottom: 10px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 9px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 9px;
  -moz-background-clip: padding;
  border-radius: 9px;
  background-clip: padding-box;
  min-height: 500px;
}
div#container {
  margin: 0;
  padding: 10px 15px;
}
div#container h3:first-of-type {
  line-height: 22px;
  font-size: 18px;
  color: #666;
  margin-top: 0;
}
hr.shadow {
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  height: 20px;
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
}
hr.shadow:after {
  content: "";
  margin: 0 auto;
  position: relative;
  top: -35px;
  display: block;
  width: 90%;
  height: 20px;
  box-shadow: 0px 20px 10px #252525;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* Footer */
div#footer {
  clear: both;
  margin: 25px 15px;
  padding: 15px 0 5px 0;
  text-align: center;
  color: #555;
  background: #252525;
  border-radius: 5px;
  -moz-border-radius: 9px;
  overflow: hidden;
}
div#footer a {
  color: #444;
}
/* TYPO */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #369;
}
.silent {
  font-size: 11px;
  color: #888;
}
.loud {
  font-size: 16px;
}
a.darklink,
a.darklink:link,
a.darklink:visited {
  color: #333;
}
hr {
  border: 0;
  height: 1px;
  margin: 1em 0;
  border-bottom: 1px solid #000;
}
hr.spacer {
  margin: 5px 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
ol {
  margin-left: 25px;
}
.dl-horizontal.dl-dates dt {
  width: 70px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  color: #888;
}
.dl-horizontal.dl-dates dd {
  margin-left: 75px;
}
/* Navigation */
div#topNavBox {
  padding-right: 20px;
  padding-left: 20px;
}
a.topnav,
a.topnav_selected,
a.topnav:visited,
a.topnav_selected:visited {
  position: relative;
  display: block;
  float: left;
  min-width: 100px;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
  font-weight: normal;
  background: #111;
  color: #428bca;
  height: 40px;
  -webkit-transition: background 0.3s linear, color 0.3s linear;
  -moz-transition: background 0.3s linear, color 0.3s linear;
  -o-transition: background 0.3s linear, color 0.3s linear;
  transition: background 0.3s linear, color 0.3s linear;
  margin-right: 1px;
}
a.topnav:hover {
  background: #222;
  color: #7eb0db;
}
a.topnav:active,
a.topnav:focus {
  outline: none;
  color: #eee;
}
a.topnav_selected,
a.topnav_selected:visited {
  background-color: #428bca;
  color: #fff;
}
a.topnav_selected span.mm {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 4px solid #333;
  margin-left: -6px;
}
div#contentSwitch {
  background: #ccc;
  padding: 2px 60px 2px 10px;
  font-size: 12px;
  color: #777;
  text-align: right;
}
div#contentSwitchContainer > div {
  float: right;
  padding: 5px;
  min-width: 250px;
}
#contentbox ul {
  margin-left: 15px;
}
.clear {
  clear: both;
}
.modal-open .modal,
.btn:focus,
a:focus {
  outline: none;
  text-decoration: none;
}
.list-group-item-ghost {
  color: #ccc;
  background: transparent;
}
.list-group-item-ghost.active {
  background-color: #151515;
  border-color: #000;
}
.list-group-item-ghost.active:hover {
  color: #428bca;
}
.list-group-item-ghost:hover {
  background: #151515;
  color: #428bca;
}
.progress {
  background: #151515;
  padding: 2px;
  height: 1.5rem;
}
.progress .progress-bar {
  background: #428bca;
  color: #252525;
  border-radius: 0.15rem;
}
.fancybox-slide > * {
  background: #252525;
  border-radius: 0.75rem;
}
/* PAGINATION */
div#pagina {
  margin: 4px 0;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid #444;
  -webkit-border-radius: 5px;
}
div#pagina p {
  text-align: center;
  padding: 2px;
  margin: 4px 2px;
}
div.header-bc {
  padding: 0;
  margin: 1px 0 10px 0;
}
div.header-bc span {
  padding: 2px 4px;
  margin: 0;
  background: #fff url(../images/gradiant.png) repeat-x left center;
  border: 1px solid #999;
  border-right: 0;
  color: #888;
}
div.header-bc span:last-child {
  padding-right: 10px;
  border-right: 1px solid #999;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
div.header-bc span:first-child {
  padding-left: 10px;
  border-top-left-radius: 5px;
}
/* listings */
div#listItems {
  padding: 2px;
  border-bottom: 1px solid #fff;
}
div#listItems:hover {
  background: #fff;
}
span#w100,
span#w150,
span#w200 {
  display: block;
  float: left;
  padding: 2px 4px;
  border-right: 1px solid #fff;
}
span#w100 {
  width: 100px;
}
span#w150 {
  width: 150px;
}
span#w200 {
  width: 200px;
}
.clear,
#clear {
  clear: both;
}
.table-list {
  background: transparent;
  width: 100%;
}
.table-list td {
  border-bottom: 1px solid #b5b5b5;
  padding: 1px 6px 0 4px;
  color: #333;
}
.table-list td.bold {
  font-weight: bold;
}
.table-list td.head {
  padding: 6px 6px 6px 4px;
  color: #eee;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  font-weight: bold;
}
.table-list tr:hover {
  background-color: #eee;
}
.extrainfo {
  font-size: 12px;
  line-height: 14px;
  color: #888;
  margin-bottom: 3px;
}
.pages-list-container {
  padding: 5px 15px 0 0;
  background-color: #222;
  background-image: linear-gradient(90deg, #000 1px, transparent 1px);
  background-size: 10px;
  background-position: 0;
}
.page-list-item {
  position: relative;
  margin-bottom: 10px;
  padding: 5px 5px 0 5px;
  background: #111;
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 555;
}
.page-list-item h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 15px;
}
.page-list-item h4 a {
  color: #428bca;
}
.page-list-item:hover {
  box-shadow: inset 0px 7px 12px -7px rgba(0, 0, 0, 0.7);
}
.label-white {
  background: #fff;
  color: #999;
}
.label-dot {
  position: relative;
  top: 1px;
  display: inline-block;
  margin: 0 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.btn-label-dot {
  background: transparent;
  border: none;
  padding: 5px;
  margin: 0 5px 0 0;
}
.btn-label-dot.active span.label-dot {
  border: 1px solid rgba(10, 10, 10, 0.7);
  -webkit-box-shadow: inset 0 1px 3px rgba(10, 10, 10, 0.7);
  -moz-box-shadow: inset 0 1px 3px rgba(10, 10, 10, 0.7);
  box-shadow: inset 0 1px 3px rgba(10, 10, 10, 0.7);
}
.page-list-item-draft h5 {
  color: #888;
}
.label-page-status {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #000 transparent transparent;
}
.page-list-item-public .label-page-status {
  border-color: transparent #5cb85c transparent transparent;
}
.page-list-item-private .label-page-status {
  border-color: transparent #d9534f transparent transparent;
}
.page-list-item-ghost .label-page-status {
  border-color: transparent rgba(92, 184, 92, 0.25) transparent transparent;
}
.page-list-item-draft .label-page-status {
  border-color: transparent #989898 transparent transparent;
}
.text-public,
.text-public.active {
  color: #5cb85c !important;
}
.text-ghost,
.text-ghost.active {
  color: #bcdbbc !important;
}
.text-draft,
.text-draft.active {
  color: #989898 !important;
}
.text-private,
.text-private.active {
  color: #d9534f !important;
}
.text-redirect,
.text-redirect.active {
  color: #286090 !important;
}
.info-collapse.info-show,
.info-collapse.info-show-this {
  max-height: 100px;
  transition: max-height 0.3s ease-in;
  -webkit-transition: max-height 0.3s ease-in;
}
.info-collapse.info-show.info-hide,
.info-collapse.info-show.info-hide-this {
  max-height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
  -webkit-transition: max-height 0.1s ease-out;
}
.bg-bright {
  background-color: #eee;
}
.bg-dark {
  background-color: #ccc;
}
.page-list-item .ghost-btn {
  font-size: 14px;
}
.controls-container {
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
}
.ghost-btn {
  color: #333;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 2px 5px;
  margin: auto 2px;
}
.ghost-btn:hover {
  background: #fff;
  border: 1px solid #eee;
}
.ghost-btn-public:hover {
  color: #5cb85c;
  border-color: #5cb85c;
}
.ghost-btn-private:hover {
  color: #d9534f;
  border-color: #d9534f;
}
.ghost-btn-draft:hover {
  color: #999;
  border-color: #999;
}
.ghost-btn-ghost:hover {
  color: #999;
  border-color: #999;
}
.btn-fc {
  background: #428bca;
  color: #fff;
}
.btn-fc:hover,
.btn-fc:focus,
.btn-fc.focus {
  color: #fff;
  background: #3071a9;
}
.btn-fc:active,
.btn-fc.active {
  background: #245682;
  text-shadow: 0px 0px 2px #2a6496, 0px 0px 4px #5697d0, 0px 0px 6px #5697d0, 0px 0px 12px #468dcb;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-fc:active:hover,
.btn-fc.active:hover {
  color: #eee;
}
.masked-textarea,
.masked-textarea:hover,
.masked-textarea:focus {
  width: 100%;
  background: transparent;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.masked-textarea:hover,
.masked-textarea:focus {
  background: rgba(255, 255, 255, 0.5);
}
.scroll-container {
  height: 350px;
  overflow: auto;
  padding: 5px;
  background: #202020;
  border-radius: 5px;
}
.scroll-box {
  width: 100%;
  min-height: 150px;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  .app-container {
    height: auto !important;
  }
}
.dl-logfile {
  margin: 0;
  padding: 2px 5px;
  border-bottom: 1px solid #111c25;
  background-color: #252525;
}
.dl-logfile:nth-child(even) {
  background-color: #323232;
}
.dl-logfile dt {
  font-weight: normal;
  opacity: 0.6;
}
.priority-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 3px;
  margin-right: 10px;
  border-radius: 50%;
}
.log_priority0 {
  background: #FFFEFF;
}
.log_priority1 {
  background: #F9F6FF;
}
.log_priority2 {
  background: #EEEEFF;
}
.log_priority3 {
  background: #E3E6F9;
}
.log_priority4 {
  background: #D8DEF3;
}
.log_priority5 {
  background: #CDD6ED;
}
.log_priority6 {
  background: #C2CEE7;
}
.log_priority7 {
  background: #B7C6E1;
}
.log_priority8 {
  background: #ACBEDB;
}
.log_priority9 {
  background: #A1B6D5;
}
.log_priority10 {
  background: #96AECF;
}
.log_priority11 {
  background: #C35B5B;
}
/* for errors only */
.control-label-normal {
  font-weight: normal;
}
/* AJAX TABS */
/*
#sortable-list {
	list-style-type: none;
}

#sortable-list li {
  cursor: move;
}
*/
.floating-box {
  float: left;
  width: 300px;
  margin: 2px;
  padding: 4px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #eee;
  border: 1px solid #e5e5e5;
}
.floating-box h4 {
  background-color: #f9f9f9;
  padding: 2px 3px 3px 5px;
  font-size: 13px;
  margin: -4px -4px 3px -4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  white-space: nowrap;
  color: #222;
}
div.previewbox {
  display: block;
  float: left;
  width: 120px;
  height: 80px;
  margin: 2px 8px 2px 0;
  border: 2px solid #fff;
  background-color: #f5f5f5;
  overflow: hidden;
}
div.previewbox img {
  max-width: 100%;
}
/* forms */
.btn-public {
  color: #5cb85c;
  text-shadow: none;
}
.btn-public.active {
  color: #5cb85c !important;
}
.btn-public:hover {
  color: #4cae4c;
}
.btn-private {
  color: #d9534f;
  text-shadow: none;
}
.btn-private.active {
  color: #d9534f !important;
}
.btn-private:hover {
  color: #d43f3a;
}
.btn-draft {
  color: #989898;
  text-shadow: none;
}
.btn-draft.active {
  color: #989898;
}
.btn-draft:hover {
  color: #8b8b8b;
}
.btn-ghost {
  color: #bcdbbc !important;
  text-shadow: none;
}
.btn-ghost.active {
  color: #bcdbbc !important;
}
.btn-ghost:hover {
  color: #abd2ab;
}
.btn-redirect {
  border-bottom: 1px solid #286090;
  background: #121d27;
  color: #286090;
  text-shadow: none;
}
.btn-redirect.active {
  background: #000000;
}
.btn-redirect:hover {
  color: #22537c;
}
.btn {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
textarea#textEditor,
textarea#textEditor2,
.switchEditor {
  width: 100%;
  height: 550px;
}
#masonry-container {
  margin: 0 auto;
}
.masonry-item {
  width: 225px;
  background: #252525;
  margin-bottom: 10px;
  border: 1px solid #252525;
  overflow: hidden;
}
.masonry-item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #323232;
}
.masonry-item-inner {
  padding: 5px;
}
.masonry-item-inner img {
  margin: 0 auto;
  max-width: 100%;
}
.masonry-item-inner h5 {
  margin: 0;
}
.masonry-item-inner p {
  font-size: 13px;
  line-height: 1.35em;
  margin: 10px 0 0 0;
  padding: 5px;
}
.files-list {
  border-top: 1px solid #14212c;
  padding: 1px 0;
}
.files-list:nth-child(even) {
  background: #1d2e3d;
}
.formfooter {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin-top: 18px;
}
.formfooter input,
.formfooter button {
  margin-bottom: 0;
}
.plain-editor {
  background: rgba(255, 255, 255, 0.5);
  font-family: 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}
#CSSeditor,
#HTMLeditor,
#aceCodeEditor {
  display: block;
  margin: 5px auto;
  width: 100%;
  height: 350px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
code {
  color: #428bca;
  background: rgba(78, 134, 245, 0.1);
}
.modules-list-item {
  padding: 15px;
  margin-bottom: 15px;
  background: #252525;
  border: 1px solid #252525;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.modules-list-item:hover {
  border: 1px solid #2a2a2a;
}
.modules-list-item:before,
.modules-list-item:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 20px;
  right: 20px;
  border-radius: 100px / 10px;
}
pre {
  padding: 15px;
  background: #252525;
  color: #ccc;
}
/* List items - News, Guestbook ... */
.modlist-label span {
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  color: #ccc;
  background: #14212c;
  padding: 3px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px -6px #000;
}
.modlist-icon {
  max-width: 100px;
  max-height: 100px;
  box-shadow: 0 5px 10px -6px #000;
}
.modul_list_items {
  padding: 4px;
  background: #252525;
  margin: 8px 0;
}
.modul_list_items > .formfooter {
  box-shadow: 0 0 0 0 transparent;
}
.well {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 5px;
}
.well-sm {
  padding: 5px;
}
img.avatar {
  border: 1px solid #ccc;
  box-shadow: 0px 1px 5px #999;
}
.charleft {
  width: 200px;
  background: #252525;
}
.charleft span {
  display: table-cell;
  min-width: 100px;
  text-align: center;
  background: #111;
  border: 1px solid #252525;
}
.bootstrap-tagsinput {
  /*background-color: @brand_color;*/
  /*border: 1px solid #ccc;*/
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #fff;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 28px;
  cursor: text;
  width: 100%;
}
.bootstrap-tagsinput span {
  background-color: #428bca;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
  color: #fff;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/*fancyBox */
.fancybox-slide script {
  display: none;
}
.fancybox-slide div {
  max-height: 85%;
}
.fancybox-slide div .container {
  min-width: 450px;
}
/* dropzone */
.dropzone.dropzone-sm {
  min-height: 200px;
  height: 200px;
}
form.dropzone-default {
  border: 1px dashed #999;
}
form.dropzone-default .dz-default.dz-message {
  background: transparent url(../images/filedrop.png) no-repeat center center;
}
form.dropzone-plugin .dz-default.dz-message {
  background: transparent url(../images/filedrop-plugin.png) no-repeat center center;
}
form.dropzone-module .dz-default.dz-message {
  background: transparent url(../images/filedrop-module.png) no-repeat center center;
}
form.dropzone-theme .dz-default.dz-message {
  background: transparent url(../images/filedrop-theme.png) no-repeat center center;
}
/* image-picker */
.images-name {
  font-size: 10px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: -3px -3px 3px -3px;
  padding: 3px 1px;
}
.file-thumb,
.image_picker_image {
  max-width: 100%;
  height: auto;
}
ul.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ul.image_picker_selector ul {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: block;
  width: 100%;
}
ul.image_picker_selector li p {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #ccc;
  width: 100%;
  padding: 2px 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
ul.image_picker_selector li {
  margin: 0px 3px 3px 0px;
  float: left;
  position: relative;
}
ul.image_picker_selector li.has-child {
  clear: both;
  display: block;
  float: none;
  width: 100%;
  margin-top: 5px;
}
ul.image_picker_selector li.group_title {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  padding: 3px 5px;
}
ul.image_picker_selector li .thumbnail {
  border: 1px solid #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0;
  width: 128px;
  height: 100px;
  overflow: hidden;
}
ul.image_picker_selector li .thumbnail.selected {
  background: #0088cc;
  border: 1px solid #428bca;
}
ul.image_picker_selector li .thumbnail.selected > p {
  background: #428bca;
}
