.table, .table-sm, .table-bordered {
	color: @light_color;
}
.table thead th {
	border-bottom: 1px solid #111;
}
.table th,
.table td {
  border-top: 1px solid #222;
}

.table-bordered td {
	border-color: #000;
}

.table-hover tbody tr:hover {
	color: #fff;
	background: rgba(0,0,0,0.3);
}