/**
 *
 * default flatCore Style
 * copyright © 2019, flatCore.org
 *
 */

@import (inline) "bootstrap.min.css";

#pageHeader {
	background: #222;
	h1, h2 {
		color: #fff;
		font-weight: 200;
	}
}

#pageFooter {
	padding-bottom: 100px;
	background: #343a40;
	color: #eee;
}

footer div.tags a {
	display: block;
	float: left;
	padding: 2px 5px;
	margin: 1px;
	border-radius: 3px;
	background-color: #222;
	border: 1px solid #111;
}

footer div.tags a:hover {
	background-color: #111;
	text-decoration: none;
}



.privacy_policy {
	position: fixed;
	bottom: 0;
	z-index: 9001;
	width: 100%;
	background: rgba(255,255,255,0.85);
	padding: 15px;
	border-top: 1px solid #ddd;
}
