/**
 *
 * flatCore Style blucent
 * copyright © 2013, flatCore.de
 */
 
 
body {
	color:#444;
	font: normal 14px/1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #333;
	background-repeat: repeat-x;
}


#fc-body {
	background: #d2e1f3;
	padding: 0 0 25px 0;
	background: rgb(240,249,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjlmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMmUxZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(210,225,243,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(100%,rgba(210,225,243,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(210,225,243,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(210,225,243,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(210,225,243,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(210,225,243,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#d2e1f3',GradientType=0 ); /* IE6-8 */
}


section#fc-content img {
	max-width: 100%;
	height: auto;
}

aside#fc-sub-content img {
	max-width: 100%;
	height: auto;
}


header#pageHeader {
	background: #333;
}

header#pageHeader h1 {
	color: #d2e1f3;
	font-size: 40px;
	line-height: 40px;
	margin: 25px 0 0 0;
	text-shadow: 1px 1px 3px #000;
}

header h2 {
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	margin: 10px 0 15px 0;
	letter-spacing: 1px;
	color: #a0b9f2;
	text-shadow: 1px 1px 5px #111;
}


footer#pageFooter {
	padding: 25px 15px 30px 15px;
	background: #222;
	color: #999;
}

footer a {
	color: #d2e1f3;
	-webkit-transition: color 0.3s linear;
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	transition: color 0.3s linear;
}

footer a:hover {
	color: #fff;
}

footer h6 {
	color: #999;
	text-shadow: none;
	margin-bottom: 10px;
}

footer div.tags a {
	display: block;
	float: left;
	padding: 1px 5px;
	margin: 1px;
	color: #aaa;
	border-radius: 5px;
	-webkit-transition: background-color linear .3s, color linear .3s;
	-moz-transition: background-color linear .3s, color linear .3s;
	transition: background-color linear .3s, color linear .3s;
}

footer div.tags a:hover {
	background-color: #36c;
	color: #fff;
	text-decoration: none;
}

footer hr {
	border: 0;
	border-bottom: 1px solid #222;
}

#pageFooter ol.breadcrumb {
	background: rgba(0,0,0,0.3);
}

.scrollBox {
	height: 250px;
	padding: 4px;
	overflow: auto;
	border: 1px solid #ccc;
	background-color: #fff;
}



.styledSpace {
	display: block;
	height: 25px;
	background: transparent url(../images/whitegradient.png) no-repeat bottom center;
	margin: 8px 0 10px 0;
}

.boxShadow {
	height: 22px;
	padding: 0;
	margin: 5px 0 0 0;
	background: transparent url(../images/boxBottom.png) center top;
	background-repeat: no-repeat;
}

.image-container {
	background: rgba(255,255,255,0.5);
	padding: 10px;
	border-radius: 5px;
}

.image-container > .image-caption {
	padding: 5px 0;
	color: #888;
}


input.searchbox {
	background: #fff url(../images/icn16_search_soft.png) no-repeat 7px center;
	padding: 5px 5px 5px 30px;
}

input.searchbox:focus {
	background: #fff url(../images/icn16_search.png) no-repeat 7px center;
	outline: none;
}


/* Sitemap */

ul#sitemap,
ul#sitemap ul {
	list-style-image: url('../images/list_arrow.png');
}

ul#sitemap li {
	margin-bottom: 8px;
	line-height: 14px;
}



.blockImage {
	padding: 4px;
	background: rgba(255,255,255,0.8);
	background-repeat: repeat;
	border: 1px solid #fff;
	text-align: center;
	font-size: 12px;
	color: #999;
}

.block {
	display: block;
}


/**
 * main navigation
 */





/**
 * sub navigation
 */

div#toc {
	margin: 4px 0 8px 0;
	padding: 0;
	text-align: left;
}

div#toc h2 {
	font: bold 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 2px 4px;
	color: #222;
	border-bottom: 1px solid #ddd;
}

#toclist {
	margin: 0;
	padding: 0;
}

#toclist li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#toclist li a {
	display: block;
	color: #36c;
	text-decoration: none;
	margin: 0;
	margin-right: 1px;
	padding: 4px 6px;
	border-bottom: 1px solid #ccc;
	background-color: transparent;
	-webkit-transition: background 0.5s linear, color 0.5s linear;
	-moz-transition: background 0.5s linear, color 0.5s linear;
	-o-transition: background 0.5s linear, color 0.5s linear;
	transition: background 0.5s linear, color 0.5s linear;
}

#toclist li a:hover {
	color: #222;
	background-color: #DFE7EF;
}


/*
 * links for subnavigation
 * sub_current{depth}
 */

#toclist li a[class^='sub_current'] {
	color: #222;
	background-color: #CADDEE;
}

#toclist li a.sub_link1, #toclist li a.sub_current1 {
	padding-left: 5px;
}

#toclist li a.sub_link2, #toclist li a.sub_current2 {
	padding-left: 10px;
}

#toclist li a.sub_link3, #toclist li a.sub_current3 {
	padding-left: 15px;
}

#toclist li a.sub_link4, #toclist li a.sub_current4 {
	padding-left: 20px;
}

#toclist li a.sub_link5, #toclist li a.sub_current5 {
	padding-left: 25px;
}

#toclist li a.sub_link6, #toclist li a.sub_current6 {
	padding-left: 30px;
}

#toclist li a.sub_link7, #toclist li a.sub_current7 {
	padding-left: 35px;
}

#toclist li a.sub_link8, #toclist li a.sub_current8 {
	padding-left: 40px;
}


ul.fc-sitemap,
ul[class^='fc-sitemap-'] {
	list-style-type: none;
	padding-left: 15px;
}

li.fc-sitemap-li {
	margin-left: 5px;
}

li.fc-sitemap-li-active {
	font-style: italic;
}

li.fc-sitemap-li-active-tree {
	font-weight: bold;
}


/**
 * overwrite some definitions
 * from twitter bootstrap
 */
 


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #4b89d0;
	text-shadow: #fff 1px 1px 1px;
}

ul.nav-stacked li a {
	background: rgba(255,255,255,0.8);
}

ul.nav-stacked li a:hover {
	background: #fff;
}

.well, .form-actions, .hero-unit {
	background: rgba(255,255,255,0.5);
}


section#fc-content {
	float: none;
	width: 100%;
	padding-top: 10px;
	margin: 0 auto;
}

aside#fc-sub-content {
	float: none;
	width: 100%;
	padding-top: 10px;
	margin: 0 auto;
	border-top: 1px solid #fff;
}

div.pagination a {
	background: rgba(255,255,255,0.5);
}

header nav#top-navigation {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	margin-bottom: 0;
}



/**
 * layout min-width 768px
 */
 
@media (min-width: 768px) {

	body {
		padding: 0;
	}

	section#fc-content {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	
	aside#fc-sub-content {
		float: none;
		width: 100%;
		padding-top: 25px;
		margin: 25px auto 0 auto;
		border-top: 1px solid #fff;
	}
	
	.navbar-collapse {
		padding-left: 0;
	}	
	
}


/**
 * layout min-width: min-width: 992px
 */
 
@media (min-width: 992px) {

	section#fc-content {
		float: left;
		width: 650px;
		margin-right: 30px;
	}
	
	aside#fc-sub-content {
		float: left;
		width: 260px;
	}

	
	.navbar {
		margin: 0 auto;
	}

}


/**
 * layout min-width: 1200px
 */
 
@media (min-width: 1200px) {

	section#fc-content {
		width: 850px;
		float: left;
		margin-right: 30px;
	}
	
	aside#fc-sub-content {
		width: 260px;
		float: left;
	}
	
}




/* modules */


.listBlockItem {
	margin: 4px 0 8px 0;
	padding: 2px 0 15px 0;
	min-height: 35px;
	background: transparent url(../images/whitegradient.png) no-repeat bottom center;
}


a.category_link {
	font-size: 12px;
	color: #eee;
	padding: 3px 6px;
	border-radius: 5px;
	background-color: #4b89d0;
}

a.category_link:hover {
	color: #4b89d0;
	background-color: #eee;
}
