
.form-group {
	padding-bottom: 0.5rem;
	label {
		padding-bottom: 0.25rem;
	}
}


/* fieldset */


fieldset {
	padding: 30px 10px 10px 10px;
	margin: 18px 0 25px 0;
	border: 1px solid darken($widget_background,10);
	background: $widget_background;
	background: linear-gradient(90deg, rgba($widget_background,1) 0%, $widget_background 100%);
	border-radius: 4px;
	position: relative;
}

fieldset legend {
 	position:absolute;
	left: 10px;
	top: 5px;
	width: auto;
	padding: 7px 15px;
	margin: -25px 10px 0 10px;
	background: rgba($widget_background,1);
	color: $font_color;
	font-size: 15px;
	line-height: 14px;
	border-radius: 3px;
	border-left: 1px solid darken($widget_background,10);
	border-right: 1px solid darken($widget_background,10);
}

fieldset.fieldset-danger {
	border-color: $danger;
	legend {
		border-color: $danger;
		color: $danger;
	}
}


textarea.form-control,
input.form-control,
input.form-control[readonly],
select.form-control,
.bootstrap-tagsinput {
	background: $input_background;
	color: $input_color;
	border-color: darken($input_background,10);
	&:focus {
		background: $input_background;
		color: $input_color;
	}


}


select.cutom-select,
select.form-control {
	background: $input_background;
	background: $input_background url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


input.form-control[readonly] {
	color: lighten($input_color,10);
}

.input-group-text {
	border: 1px solid #222;
	background: lighten($input_background,5);
	color: darken($font_color,10);
	border-color: darken($input_background,20);
}


#CSSeditor,
#HTMLeditor,
.form-control {
	border: 1px solid darken($input_background,10) !important;
}

.mce-panel {
	border-color: darken($input_background,10);
}

