

#toggleNav {
	display: inline-block;
	height: 40px;
	padding-top: 7px;
}
   
div#page-sidebar {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 55px;
	padding-top: 25px;
	color: $sidebar_color;
	background: $sidebar_background;
	height: 100%;
	border-right: 1px solid transparent;
	
	overflow: hidden;
	overflow-y: auto;

	&:hover {
		transition-property: width;
		transition-duration: .35s;
		transition-timing-function: ease;
		width: 220px;		
		i {
			width: auto;
		}	
	}
	
	ul.nav {
		li  {
			display: block;
			width: 100%;
		}
	}
	
	a#sidebar-dashboard {
		display: block;
		width: 100%;
		height: 70px;
		background: transparent url(../../images/fc-logo.png) top left no-repeat;
	}
	
	.sidebar-collapsed {
			
		width: 100%;
		white-space: nowrap;
		padding-top: 1px;
		padding-bottom: 5px;

      
		i {
			width: 50px;
			text-align: center;
		}
		
		.sidebar-footer {
			i {
				width: 50px;
				text-align: center;				
			}
		}
	}

	.sidebar-expanded {
		display: block;
		width: 220px;
		//overflow: hidden;
		white-space: nowrap;
		padding-top: 1px;
		padding-bottom: 5px;
		transition-property: top, bottom, width;
		transition-duration: .2s, .2s, .35s;
		transition-timing-function: linear, linear, ease;
        
		i {
			width: 35px;
			text-align: center;
		}
		
		.sidebar-footer {
			i {
				width: 35px;
				text-align: center;				
			}
		}
	}

	.sidebar-footer {
		padding-top: 10px;
		a {
			display: block;
			color: $sidebar_color;
		}
	}	
}


/* right sidebar */

div#page-sidebar-help {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	width: 0;
	padding-top: 25px;
	padding-bottom: 50px;
	color: $sidebar_help_color;
	background: $sidebar_help_background;
	box-shadow: inset 5px 0px 5px -5px darken($sidebar_help_background,20);
	height: 100%;
	#page-sidebar-help-inner {
		padding: 15px;
	}
	
}

#page-sidebar-help-inner {
	p, ul, li {
		font-size: 12px;
	}
	h6 {
		font-size: 12px;
	}
	h5 {
		font-size: 13px;
	}
	h4 {
		font-size: 14px;
	}
	h4 {
		font-size: 15px;
	}
	h3 {
		font-size: 16px;
	}
	h2 {
		font-size: 17px;
	}
	h1 {
		font-size: 12px;
	}
	
}


div#page-sidebar-help.sb-help-expanded {
	width: 380px;
	overflow: hidden;
	overflow-y: auto;	
}



div#page-sidebar.sb-expanded {
	width: 220px;
	overflow: hidden;
	overflow-y: auto;
}

#page-content {
	margin-left: 55px;
   transition-property: top, bottom, width;
   transition-duration: .2s, .2s, .35s;
   transition-timing-function: linear, linear, ease;
}

div#page-content.sb-expanded {
	margin-left: 220px;
}

div#page-content.sb-help-expanded {
	margin-right: 380px;
}



/* Navigation Submenu */

#dashboard-collapse .panel {
	border-radius: 0;
	border: none;
	margin: 0;
}

.panel-sidemenu .panel-heading {
	margin: 0;
	padding: 0;
	border-radius: 0;
	border: none;
}

.panel-collapse > .submenu {
	padding: 2px 2px 2px 15px !important;
	color: #222;
}


a.sidebar-sub,
a.sidebar-sub-active {
	display: block;
	width: 100%;
	color: $sidebar_color;
	background: $sidebar_link_background;
	padding: 3px 2px 3px 0;
	border-bottom: 1px solid #111;
}

a.sidebar-sub:hover {
	color: darken($sidebar_color,5);
	background: lighten($sidebar_link_background,10);
}


a.sidebar-sub-active {
	color: $font_color;
	background: darken($sidebar_link_background,15);
	i {
		color: $brand_primary;
	}
}

li.sidebar-sub-end {
	margin-bottom: 5px;
}



.sidebar-well {
	background: rgba(255,255,255,0.2);
	padding: 5px;
	margin: 10px 0;
}


.sidebar-nav,
.sidebar-nav-active,
.sidebar-nav-disabled {
	display: block;
	padding: 3px 0;
	border-bottom: 1px solid darken($sidebar_link_background,25);
	color: $sidebar_color;
}

.sidebar-nav {
	background: $sidebar_link_background;
	&:hover {
		background: lighten($sidebar_link_background,10);
		color: lighten($sidebar_color,5);
	}
	
}


.sidebar-nav-disabled,
.sidebar-nav-disabled:hover {
	color: #555;
	background: #191919;
	cursor: not-allowed;
}

.sidebar-nav-active,
.sidebar-nav-active:hover,
.dashboard-toggle.active,
.dashboard-toggle.active:hover {
	background: darken($sidebar_link_background,20);
	color: $brand_primary;
}