/**
 * flatCore ACP
 */

@import 'dropzone';
@import 'bootstrap-datetimepicker.min';
@import 'jquery.fancybox.min';

// Bootstrap Core 5.1.1
@import '../bootstrap5/scss/bootstrap';

@import "cards";
@import "table";
@import "form";
@import "sidebar";
@import "buttons";
@import "posts";

::selection {
	background-color: $brand_primary;
	color: #ccc;
}

a, a:hover {
	text-decoration: none;
}

html, body {
	text-align: left;
	color: $font_color;
	font-weight: 400;
	min-height: 100%;
	background: linear-gradient(135deg, $brand_primary 0%, $brand_secondary 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}


/* Layout */



a#dashboard {
	display: block;
	position: absolute;
	top: 0;
	height: 85px;
	width: 210px;
}

div#page-content {
	background: $content_bg;
	
	min-height: 100%;
	height: auto !important;
	overflow: hidden !important;
}


div#bigHeader {
	height: 40px;
	background: #000;
	overflow: hidden;
}

.subHeader {
	margin-bottom: 20px;
	padding: 10px;
	background: darken($content_bg,5%);
	h3 {
		font-size: 18px;
		margin-bottom: 0;
		font-weight: 300;
	}
}


#expireDiv {
	text-align: center;
	transition: all 0.3s linear;
}

.expire-hidden {
	height: 0;
	overflow: hidden;
}

.expire-start {
	padding: 3px;
}

.expire-soon {
	background: rgba(255, 0, 0, 0.45)
}

.expire-danger {
	background: rgba(255, 0, 0, 1);
	color: #fff;
}

#currentSeconds {
	font-weight: bold;
}

.bottom-bar {
	position:fixed;
	bottom:0;
	right:0;
	padding:10px;
	z-index:1005;
	background: linear-gradient(0deg, #111 0%, #252525 100%);
	border-top-left-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba($brand_secondary, 0.8);
	
	.divider {
		display: inline-block;
		width: 10px;
	}
	
	.styleswitch {
		display: inline-block;
		line-height: 1;
		padding: 3px;
		margin: 0 2px;
		border-radius: 50%;
		border: 1px solid #000;
		background: darken($widget_background,10);
		opacity: 0.5;
		&.styleswitch-light {
			color: #fff;
			background: linear-gradient(135deg, $brand_primary 0%, $brand_secondary 100%);
		}
		&.styleswitch-light-mono {
			color: #fff;
			background: linear-gradient(135deg, $widget_background 0%, darken($widget_background,15) 100%);
		}
		&.styleswitch-dark {
			color: #333;
			background: linear-gradient(135deg, $brand_primary 0%, $brand_secondary 100%);
		}
		&.styleswitch-dark-mono {
			color: #333;
		}
		&.active {
			box-shadow: 0px 0px 7px 2px rgba($brand_secondary, 0.9);
			opacity: 1;
		}
		&:hover {
			opacity: 1;
		}
	}
	
}



div#wrapper{
	float: right;
	width: 100%;
	margin-left: -220px;
}

#contentbox {
  margin-left: 220px;
  margin-bottom: 10px;
  padding: 8px;
  background: rgba(255,255,255,0.5);
	border-radius: 9px;
  min-height: 500px;
}

div#container {
	margin: 0;
	padding: 10px 15px;
}


hr.shadow-line {
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  height: 20px;
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  box-shadow: none !important;
  background: transparent;
}

hr.shadow-line:after {
  content: "";
  margin: 0 auto;
  position: relative;
  top: -35px;
  display: block;
  width: 90%;
  height: 20px;
  box-shadow: 0px 20px 10px darken($widget_background,65);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}


.well {
	background: $widget_background;
	padding: 10px;
}

.well-sm {
	padding: 5px;
}

.alert-fc {
	background: $brand_primary;
}


/* Footer */

div#footer {
	clear: both;
	margin: 25px 15px;
	padding: 15px 0 5px 0;
	text-align: center;
	color: #555;
	background: $widget_background;
	border-radius: 5px;
	-moz-border-radius: 9px;
	overflow: hidden;
}


/* TYPO */

.silent {
	font-size: 11px;
	color: #888;
}

.loud {
	font-size: 16px;
}

/*
a.darklink, a.darklink:link, a.darklink:visited {
	color: #333;
}
*/

hr {
	border : 0;
  height : 1px;
  margin : 1em 0;
  border-bottom: 1px solid darken($widget_background,20);
}

hr.spacer {
	margin: 5px 0;
	padding: 0;
	border: none;
	background-color: transparent;
}


ol {
	margin-left: 25px;
}


.dl-horizontal.dl-dates dt {
	width: 70px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  color: #888;
}

.dl-horizontal.dl-dates dd {
  margin-left: 75px
}

/* Navigation */

div#topNavBox {
	padding-right: 20px;
	padding-left: 20px;
	display: flex;
	justify-content: flex-end;
}

a.topnav,
a.topnav_selected,
a.topnav:visited,
a.topnav_selected:visited {
	position: relative;
	display: inline-block;
	min-width: 100px;
	text-align: center;
	font-size: 12px;
	line-height: 40px;
	font-weight: normal;
	background: #111;
	color: $brand_secondary;
	height: 40px;
	transition: background 0.3s linear, color 0.3s linear;
	margin-right: 1px;
}

a.topnav:hover {
	background: #222;
	color: lighten($brand_primary,15%);
}

a.topnav:active,
a.topnav:focus {
	outline: none;
	color: #eee;
}


a.topnav_selected,
a.topnav_selected:visited {
	background-color: $brand_primary;
	color: #fff;
	/*
	span.mm {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0; 
		height: 0; 
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 4px solid $content_bg;
		margin-left: -6px;
	}
	*/
}


div#contentSwitch {
	background: #111;
	padding: 2px 20px 2px 10px;
	border-bottom: 1px solid $dark_brand;
	font-size: 12px;
	color: #777;
	text-align: right;
}


.navbar-fc {
	border: 1px solid darken($navbar-fc-bg,5);
	background: $navbar-fc-bg;
	padding: 3px;
	border-radius: 3px;
	.nav-item {
		margin-right: 2px;
	}
	.nav-link {
		background: $navbar-fc-btn-bg;
		border-radius: 3px;
		border: 1px solid darken($navbar-fc-btn-bg,10);
		&:hover {
			background: lighten($navbar-fc-btn-bg,10);
		}
		&.active {
			background: $navbar-fc-btn-bg;
			border-bottom: 1px solid $navbar-fc-btn-active;
		}
	}
	.dropdown-menu {
		background: darken($navbar-fc-bg,5);
		.dropdown-item {
			color: $font_color;
			&.active {
				color: #fff;
			}
		}
		
	}

}


#contentbox ul {
	margin-left: 15px;
}


.clear {
	clear:both;
}

.modal-open .modal,
.btn:focus,
a:focus {
	outline:none;
	text-decoration: none;
}

.modal-content {
	background: rgba($widget_background,1);
	.modal-header {
		border-bottom: 1px solid darken($widget_background,10);
		.close {
			color: $brand_primary;
			opacity: 1;
			text-shadow: none;
		}
	}
	.modal-footer {
		border-top: 1px solid darken($widget_background,10);
	}
}



.list-group-item-ghost {
	color: $font_color;
	background: transparent;
	background-color: $btn_fc_background;
	&.active {
		background-color: $btn_fc_background_active;
		border-color: darken($btn_fc_background_active,10);
		color: $btn_fc_color_active;
		&:hover {
			color: $btn_fc_color_active;
		}
	}
	&:hover {
		background: darken($widget_background,10);
		color: $font_color;
	}
}


.popover {
	background: darken($widget_background,1);

	.popover-header {
		background: darken($widget_background,5);
		border-bottom: 1px solid darken($widget_background,5);
	}

	.popover-body {
		color: $font_color;
	}

	img {
		max-width: 100%;
		height: auto;
	}
	.arrow::after {
		border-right-color: darken($widget_background,1);
	}
}

.badge-secondary {
	color: $font_color;
	background-color: darken($widget_background,5);
}



.progress {
	background: lighten($widget_background,10);
	padding: 2px;
	height: 1.5rem;
	.progress-bar {
		background: $brand_primary;
		color: $widget_background;
		border-radius: .15rem;
	}
}


.fancybox-bg {

}
.fancybox-slide>* {
	background: $widget_background;
	border-radius: 0.75rem;
}


/* PAGINATION (deprecated) */

div#pagina {
	margin: 4px 0;
	background: rgba(0,0,0,0.75);
	border: 1px solid #444;
	-webkit-border-radius: 5px;
}

div#pagina p {
	text-align: center;
	padding: 2px;
	margin: 4px 2px;
}

/* re-color bootstrap pagination */

.page-item, .page-item.disabled {
	.page-link {
		background: $btn_fc_background;
		border-color: darken($btn_fc_background,10);
	}
}



div.header-bc {
	padding: 0;
	margin: 1px 0 10px 0;
}


div.header-bc span {
	padding: 2px 4px;
	margin: 0;
	background: #fff url(../images/gradiant.png) repeat-x left center;
	border: 1px solid #999;
	border-right: 0;
	color: #888;
}

div.header-bc span:last-child {
	padding-right: 10px;
	border-right: 1px solid #999;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

div.header-bc span:first-child {
	padding-left: 10px;
	border-top-left-radius: 5px;
}




.clear, #clear { clear:both; }


.table-list {
	background: transparent;
	width: 100%;
}

.table-list td {
	border-bottom: 1px solid #b5b5b5;
	padding: 1px 6px 0 4px;
	color: #333;
}

.table-list td.bold {
	font-weight: bold;
}


.table-list td.head {
	padding: 6px 6px 6px 4px;
	color: #eee;
	background: rgba(0,0,0,0.3);
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	font-weight: bold;
}


.table-list tr:hover {
	background-color: #eee;
}


.extrainfo {
	font-size: 12px;
	line-height: 14px;
	color: #888;
	margin-bottom: 3px;
}


.pages-list-container {
	padding: 5px 15px 0 0;
	background-color: $widget_background;
	background-image: linear-gradient(90deg, darken($widget_background,25) 1px, transparent 1px);
	background-size: 10px;
	background-position: 0;
}


.page-list-item {
	position: relative;
	margin-bottom: 10px;
	padding: 5px 5px 0 5px;
	background: $pages_list_items_background;
	border: 1px solid rgba(0,0,0,0.2);
	z-index: 555;
	h4 {
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 15px;
		a {
			color: $brand_primary;
		}
		small {
			color: $font_color;
		}
	}
	&:hover {
		box-shadow: 0px 7px 12px -7px rgba(0,0,0,0.7);
	}
}


.page-list-item-public {
	&:hover {
		border-color: fade($color_public,50);
	}
}

.page-list-item-private {
	&:hover {
		border-color: fade($color_private,50);
	}
}

.page-list-item-ghost {
	&:hover {
		border-color: fade($color_ghost,50);
	}
}

.page-list-item-draft {
	&:hover {
		border-color: fade($color_draft,50);
	}
}

.page-list-item-redirect {
	&:hover {
		border-color: fade($color_redirect,50);
	}
}


.label-white {
	background: #fff;
	color: #999;
}

.label-dot {
	position: relative;
  top: 1px;
  display: inline-block;
  margin: 0 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.btn-label-dot {
	background: transparent;
	border: none;
	padding: 5px;
	margin: 0 5px 0 0;
	&.active {
		span.label-dot {
			border: 1px solid rgba(10,10,10,0.7);
			box-shadow: inset 0 1px 3px rgba(10,10,10,0.7);
		}
	}
}

.page-list-item-draft h5 {
	color: #888;
}

.label-page-status {
	position: absolute;
	top: -1px;
	right: -1px;
	
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 25px 25px 0;
	border-color: transparent #000 transparent transparent;
}


.page-list-item-public .label-page-status {
	border-color: transparent $color_public transparent transparent;
}

.page-list-item-private .label-page-status {
	border-color: transparent $color_private transparent transparent;
}

.page-list-item-ghost .label-page-status {
	border-color: transparent fade($color_public,25%) transparent transparent;
}

.page-list-item-draft .label-page-status {
	border-color: transparent $color_draft transparent transparent;
}

.text-public, .text-public.active {
	color: $color_public !important;
}

.text-ghost,  .text-ghost.active {
	color: $color_ghost !important;
}

.text-draft, .text-draft.active {
	color: $color_draft !important;
}

.text-private, .text-private.active {
	color: $color_private !important;
}

.text-redirect, .text-redirect.active {
	color: $color_redirect !important;
}


.info-collapse.info-show,
.info-collapse.info-show-this {
	max-height: 100px;
	transition: max-height 0.3s ease-in;
}

.info-collapse.info-show.info-hide,
.info-collapse.info-show.info-hide-this {
	max-height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	transition: max-height 0.1s ease-out;
}

.bg-bright {
	background-color: #eee;
}

.bg-dark {
	background-color: #ccc;
}

.page-list-item .ghost-btn {
	font-size: 14px;
}


.controls-container {
	padding: 5px;
	background: darken($widget_background,5);
}




.masked-textarea,
.masked-textarea:hover,
.masked-textarea:focus {
	width: 100%;
	background: transparent;
	border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.masked-textarea:hover,
.masked-textarea:focus {
	background: rgba(255,255,255,0.5);
}


.scroll-container {
	height:350px;
	overflow:auto;
	padding:5px;
	background: darken($widget_background,2);
	border-radius:5px;
}

.scroll-box {
	width: 100%;
	min-height: 150px;
	overflow: auto;
}

@media screen and (max-width:767px) {
	.app-container {
		height: auto !important;
	}
}

.dl-logfile {
	margin: 0;
	padding: 2px 5px;
	border-bottom: 1px solid darken($dark_brand,2);
	background-color: $widget_background;
}

.dl-logfile:nth-child(even) {
	background-color: lighten($widget_background,5);
}

.dl-logfile dt {
	font-weight: normal;
	opacity: 0.6;
}

.priority-indicator {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 3px;
	margin-right: 10px;
	border-radius: 50%;
}

.log_priority0  { background: #FFFEFF; }
.log_priority1  { background: #F9F6FF; }
.log_priority2  { background: #EEEEFF; }
.log_priority3  { background: #E3E6F9; }
.log_priority4  { background: #D8DEF3; }
.log_priority5  { background: #CDD6ED; }
.log_priority6  { background: #C2CEE7; }
.log_priority7  { background: #B7C6E1; }
.log_priority8  { background: #ACBEDB; }
.log_priority9  { background: #A1B6D5; }
.log_priority10 { background: #96AECF; }
.log_priority11 { background: #C35B5B; } /* for errors only */


.control-label-normal {
	font-weight: normal;
}


/* AJAX TABS */

/*
#sortable-list {
	list-style-type: none;
}

#sortable-list li {
  cursor: move;
}
*/



.floating-box {
	float: left;
	width: 300px;
	margin:2px;
	padding:4px;
	border-radius:4px;
	overflow: hidden;
	background-color: #eee;
	border: 1px solid #e5e5e5;
}

.floating-box h4 {
	background-color: #f9f9f9;
	padding: 2px 3px 3px 5px;
	font-size: 13px;
	margin: -4px -4px 3px -4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	white-space:nowrap;
	color: #222;
}


div.previewbox {
	display: block;
	float: left;
	width: 120px;
	height: 80px;
	margin: 2px 8px 2px 0;
	border: 2px solid #fff;
	background-color: #f5f5f5;
	overflow: hidden;
}

div.previewbox img {
	max-width: 100%;
}


/* forms */




textarea#textEditor,
textarea#textEditor2,
.switchEditor {
	width: 100%;
	height: 550px;
}


.list-container {
	padding: 15px;
}

.files-list {
	border-top:1px solid $widget_background;
	background: darken($widget_background,1);
	padding: 1px 0;
}

.files-list:nth-child(even) {
	background: darken($widget_background,3);
}




.formfooter {
	background: rgba(0,0,0,0.2);
	padding: 5px;
	margin-top: 18px;
}

.formfooter input, .formfooter button {
	margin-bottom: 0;
}

.plain-editor {
	background: rgba(255,255,255,0.5);
	font-family: 'Lucida Console','Bitstream Vera Sans Mono','Courier New', monospace;
}

#CSSeditor,
#HTMLeditor,
#aceCodeEditor {
	display: block;
  margin: 5px auto;
  width: 100%;
  height: 350px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

code {
	color: #428bca;
	background: rgba(78, 134, 245, 0.1);
}

.modules-list-item {
	padding: 15px;
	margin-bottom: 15px;
	background: $widget_background;
	border: 1px solid $widget_background;
}

.modules-list-item:hover {
	border: 1px solid lighten($widget_background,2);
}

.modules-list-item:before,
.modules-list-item:after {
  content:"";
    position:absolute; 
    z-index:-1;
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:20px;
    right:20px;
    border-radius:100px / 10px;
}

pre {
	padding: 15px;
	background: $widget_background;
	color: $font_color;
}


/* List items - News, Guestbook ... */

.modlist-label span {
	font-weight: 300;
	font-size: 15px;
	line-height: 15px;
	color: $brand_primary;
	background: $widget_background;
	padding: 5px 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 4px 10px -6px #000;
}

.modlist-icon {
	max-width: 100px;
	max-height: 100px;
	box-shadow: 0 5px 10px -6px #000;
}

.modul_list_items {
	padding: 4px;
	background: $widget_background;
	margin: 8px 0;
}



.well {
	background: fade(darken($widget_background,15),85);
	padding: 15px;
	border-radius: 3px;
	margin-bottom: 5px;
}

.well-sm {
	padding: 5px;
}

img.avatar {
	border: 1px solid $widget_background;
	box-shadow: 0px 1px 5px $dark_brand;
}


.charleft {
	width: 200px;
	padding-top: 2px;
	span {
		display: table-cell;
		min-width: 100px;
		text-align: center;
		background: darken($widget_background,5);
		border: 1px solid $widget_background;
		color: $font_color;
	}
}


.bootstrap-tagsinput {
  /*background-color: $brand_primary;*/
  /*border: 1px solid #ccc;*/
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 28px;
  cursor: text;
  width: 100%;
  span {
	  background-color: $brand_primary;
  }
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
  color: $input_color;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
	padding: 3px 5px;
	border-radius: 3px;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*fancyBox */

.fancybox-slide {
	script {
		display: none;
	}
	
	div {
		max-height: 85%;
		.container {
			min-width: 450px;
		}
	}
	
}

/* dropzone */


.dropzone.dropzone-sm {
	min-height: 200px;
	height: 200px;
}

form.dropzone-default {
	border: 1px dashed #999;

	.dz-default.dz-message {
		background: transparent url(../../images/filedrop.png) no-repeat center center;
	}
}

form.dropzone-plugin .dz-default.dz-message {
	background: transparent url(../../images/filedrop-plugin.png) no-repeat center center;
}

form.dropzone-module .dz-default.dz-message {
	background: transparent url(../../images/filedrop-module.png) no-repeat center center;
}

form.dropzone-theme .dz-default.dz-message {
	background: transparent url(../../images/filedrop-theme.png) no-repeat center center;
}


/* image-picker */

.images-name {
	font-size: 10px;
	background: darken($widget_background,10);
	overflow:hidden;
	margin: -3px -3px 3px -3px;
	padding: 3px 1px;
}

.file-thumb,
.image_picker_image {
	max-width: 100%;
	height: auto;
}


ul.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}


ul.image_picker_selector ul {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: block;
  width: 100%;
}


ul.image_picker_selector li p {
	font-size: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: darken($widget_background,5);
	border: 1px solid darken($widget_background,35);
	color: $font_color;
	width: 100%;
	padding: 2px 0;
	margin: 0;
	text-align: center;
	overflow: hidden;
}


ul.image_picker_selector li {
  margin: 0px 3px 3px 0px;
	float: left;
	position: relative;
}

ul.image_picker_selector li.has-child {
	clear: both;
	display: block;
	float: none;
	width: 100%;
	margin-top: 5px;
}

ul.image_picker_selector li.group_title {
	width: 100%;
	background: darken($widget_background,5);
	padding: 3px 5px;
}

ul.image_picker_selector li .thumbnail {
	border: 1px solid darken($widget_background,35);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0;
  width: 135px;
  height:100px;
  overflow: hidden;
}

ul.image_picker_selector li .thumbnail.selected {
	background: darken($widget_background,25);
	border: 1px solid $brand_primary;
}

ul.image_picker_selector li .thumbnail.selected > p {
	background: $brand_primary;
	border: 1px solid $brand_primary;
}



/* choose page position */

ul.page-list-top {
	list-style-position: inside;
	
	li {
		display: block;
		list-style: none;
		padding-top: 10px;
		position: relative;
		
		padding-left: 0;
		margin-left: 0;
		
		span.page-toggler {
			display: inline-block;
			float: right;
		}
		
	}
	
	label.page-container {
		display: block;
		min-height: 40px;
		padding: 10px;
		margin-bottom: 0;
		background: $pages_list_items_background;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
		border: 1px solid $pages_list_items_background;
		&:hover  {
			background: lighten($pages_list_items_background,1);
			box-shadow: 0 2px 5px rgba(0, 0, 0, .35);
			border: 1px solid darken($pages_list_items_background,2);
		}
	}
	
}

ul.page-list {
	list-style-position: inside;
	
	ul {
		padding-left: 10px;
	}
	
	
	li {
		display: block;
		list-style: none;
		padding-top: 10px;
		position: relative;
		
		padding-left: 10px;
		margin-left: 10px;
		border-left: 1px $brand_primary solid;
		
		span.page-toggler {
			display: inline-block;
			float: right;
		}
		
	}
	
	
	li:before {
		top: 0;
		left: -1px;
		width: 11px;
		height: 31px;
		border-bottom: 1px $brand_primary solid;
		border-left: 1px $brand_primary solid;
	}
	
	li:after {
		width: 10px;
		height: 10px;
		background-color: $brand_primary;
		top: 26px;
		left: -5px;
		transform: rotateZ(45deg);
		border: 1px $pages_list_items_background solid;
		border-radius: 50%;
	}
	
	li:last-of-type {
		border-left-color: transparent;
	}
	

	
	label.page-container {
		display: block;
		min-height: 40px;
		padding: 10px;
		margin-bottom: 0;
		background: $pages_list_items_background;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
		border: 1px solid $pages_list_items_background;
		&:hover  {
			background: lighten($pages_list_items_background,1);
			box-shadow: 0 2px 5px rgba(0, 0, 0, .35);
			border: 1px solid darken($pages_list_items_background,2);
		}
	}


	ul li label.page-container {
		background: fade($pages_list_items_background,80);
	}
		
	ul ul li label.page-container {
		background: fade($pages_list_items_background,60);
	}
	
	ul ul ul li label.page-container {
		background: fade($pages_list_items_background,40);
	}
	
	
	
}


ul.page-list:first-child {
	min-width: 400px;
	max-width: 100%;
}

ul.page-list:first-child > li:first-child {
	padding-top: 0;
}

ul.page-list li:before,
ul.page-list li:after {
	content: '';
	display: block;
	position: absolute;
}

ul.page-list:first-child > li:first-child:before {
	height: 21px;
}

ul.page-list:first-child > li:first-child:after {
	top: 18px;
}

