.table > :not(caption) > * > * {
	border-bottom-width: 0;
}

.table > :not(:first-child) {
  border-top: 1px solid darken($widget_background,15);
}

.table, .table-sm, .table-bordered {
	color: $font_color;
}
.table thead th {
	border-bottom: 1px solid darken($widget_background,15) !important;
}
.table th,
.table td {
  border-top: 1px solid darken($widget_background,15);
}

.table-bordered td {
	border-color: darken($widget_background,25);
}

.table-hover tbody tr:hover {
	color: $font_color;
	background: fade($widget_background,.2);
}

.table-striped tbody tr:nth-of-type(odd) > *,
.table-striped tbody tr:nth-of-type(even) > * {
	color: $font_color;
}

.table-hover tbody tr:nth-of-type(odd) > *,
.table-hover tbody tr:nth-of-type(even) > * {
	color: $font_color;
}