$page_bg: #111;
$content_bg: rgba(0,0,0,0.55);
$brand_primary: #9E0055;
$brand_secondary: #019ADD;
$dark_brand: desaturate(darken($brand_primary,50%),20);

$font_color: #ccc; /* font color */
$widget_background: rgba(30,30,30,0.75); /* background for cards, fieldsets etc. */

$sidebar_background: rgba(0,0,0,0.75);
$sidebar_link_background: rgba(0,0,0,0.55);
$sidebar_color: #eee;
$sidebar_help_background: rgba(0,0,0,0.75);
$sidebar_help_color: #ccc;

$input_background: #111;
$input_color: $brand_primary;
$input_fill: 'white';

$btn_fc_background: #222;
$btn_fc_background_active: #151515;
$btn_fc_color: #fff;
$btn_fc_color_active: $brand_secondary;

$pages_list_items_background: darken($widget_background,5);

/* pages - status colors */
$color_public: #5cb85c;
$color_ghost: #bcdbbc;
$color_private: #d9534f;
$color_draft: #989898;
$color_redirect: #078dfe;

/* user - status colors */
$color_verified: #5cb85c;
$color_queue: $color_ghost;
$color_banned: #f0ad4e;
$color_deleted: #d9534f;

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 200;
	color: lighten($brand_secondary,5);
	small {
		font-weight: 300;
	}
}

/* tables */

$table_striped_bg_odd: lighten($widget_background,5);


/* navbar */

$navbar-fc-bg: $widget_background;
$navbar-fc-btn-bg: lighten($widget_background,15);
$navbar-fc-btn-active: darken($brand_primary,0);

@import "styles";