$page_bg: #111;
$content_bg: #333;
$brand_primary: #9E0055;
$brand_secondary: #019ADD;
$dark_brand: desaturate(darken($brand_primary,50%),20);

$font_color: #ccc; /* font color */
$widget_background: #191919; /* background for cards, fieldsets etc. */

$sidebar_background: #111;
$sidebar_link_background: #222;
$sidebar_color: #eee;
$sidebar_help_background: #111;
$sidebar_help_color: #ccc;

$input_background: #111;
$input_color: $brand_primary;
$input_fill: 'white';

$btn_fc_background: #222;
$btn_fc_background_active: #151515;
$btn_fc_color: #fff;
$btn_fc_color_active: $brand_primary;

$pages_list_items_background: darken($widget_background,5);

/* pages - status colors */
$color_public: #5cb85c;
$color_ghost: #bcdbbc;
$color_private: #d9534f;
$color_draft: #989898;
$color_redirect: #078dfe;

/* user - status colors */
$color_verified: #5cb85c;
$color_queue: $color_ghost;
$color_banned: #f0ad4e;
$color_deleted: #d9534f;

$headings-font-weight: 300;
$headings-color: lighten($brand_secondary,5);

/* tables */

$table_striped_bg_odd: lighten($widget_background,5);
$table_striped_color_odd: $font_color;


/* navbar */

$navbar-fc-bg: $widget_background;
$navbar-fc-btn-bg: lighten($widget_background,15);
$navbar-fc-btn-active: darken($brand_primary,0);

/* accordion */

$accordion-color: $font_color;
$accordion-bg: $widget_background;
$accordion-border-color: darken($widget_background,20);

$accordion-button-active-bg: $brand_primary;
$accordion-button-active-color: $font_color;

/* list group */

$list-group-bg: $widget_background;
$list-group-color: $font_color;
$list-group-hover-bg: darken($widget_background,5);
$list-group-active-color: $font_color;
$list-group-active-bg: $brand_primary;
$list-group-action-active-color: $font_color;
$list-group-action-active-bg: darken($brand_primary,10);
$list-group-action-hover-color: $brand_primary;

@import "styles";